[2015-01-13 23:15] theoryshaw opened #1 "Preliminary Design Discussion"
Comments and questions below based on @yorikvanhavre's commit here:
### https://github.com/OpeningDesign/Sports_Complex/commit/a1d0c4e9230dbabe09ceb999f3357d6bc16272fe

This might be the way to go, however i'm leaning toward two structural sections, one to house 1-story functions and another to house 2-story functions. logic behind.
- eliminate cost of
  - longer structural spans
  - mezzanine str

[2015-01-13 23:22] theoryshaw commented on #1
Also another thing that seems to make sense, cost wise, is to locate the mechanical units on the ground--saves in cost associated with beefing up the structure if they were located on the roof, as well cost of curbing/flashing.

If on the ground, however, we'll have to come up with an intelligent approach to integrate them into the design.  They will probably be distributed around the building, no

[2015-01-14 01:52] stevenuecke commented on #1
Yes, I think splitting into one and two story spaces would be fine. One thing to think about when considering roofing is the snow drifting on the low roof.

Are you thinking translucent roofing panels? If so, there might be insulation concerns. 

With regards to the masonry in the walls, that is fine, but it probably wouldn't be structural, since we would probably use the steel frames that will be

[2015-02-03 22:11] theoryshaw opened #2 "Building Code/Zoning Analysis"

[2015-02-09 16:25] theoryshaw opened #3 "Research on Polycarbonate Panels for Exterior Envelope"
ongoing research/questions/comments here..
https://github.com/OpeningDesign/Sports_Complex/blob/master/Research%20and%20Info/Polycarbonate%20Research/Polycarbonate_Research.md

[2015-02-09 16:27] araqdas commented on #3
Thumbs up

Regards,
Aqdus Shaheen

Sent from my iPhone

[2015-02-10 19:08] yorikvanhavre commented on #1
Hi all,
Sorry for the long delay, finally back into action.

I agree 100% with @theoryshaw 's arguments about eliminating entirely the upper floor... It makes a lot of sense. However this doesn't force us necessarily to use two different roofs, it would also be possible to do something like this:

![alternative possible section](https://cloud.githubusercontent.com/assets/1136856/6134280/480051be-b

[2015-02-10 20:10] theoryshaw commented on #2
Ongoing and is located here...
https://github.com/OpeningDesign/Sports_Complex/blob/master/Research%20and%20Info/Code%20Analysis.md

[2015-02-10 20:37] theoryshaw commented on #1
Hi Yorik.  Good to see ya!  Well done with the latest FreeCAD developments. Exciting!

If you haven't gathered so far, here's the latest site plan...
https://github.com/OpeningDesign/Sports_Complex/commit/ba2e8c47b57efd66040e80a64a40e22965448c3e

Per owner request, A new 1 story clinic wing was added to the west.  Will be a shell space for 3rd party clinic.

I just sent this latest site plan to th

[2015-02-10 22:13] yorikvanhavre commented on #1
Cool, the plan is okay for me (I mean both the site plan and the overall plan :) )
Honestly I've no problem either with your multi-roofs approach... The model looks good already. And indeed it solves well the possibility of expansion...

[2015-02-12 16:29] theoryshaw opened #4 "gbXML or IFC workflow...."
Hi @AnisGitHub

Per one of your last email, you suggested using gbXML as the workflow out Revit.
https://www.youtube.com/watch?v=F7cYLzz9C8I

I'm curious, however, if you have any experience with IFC workflows instead?

The reason i ask however, is that @yorikvanhavre will be using a different platform.  so if we can dial into a IFC workflow that would be ideal.

Although, (@yorikvanhavre let me k

[2015-02-12 18:14] yorikvanhavre commented on #4
As far as I know, gbXML is not really meant to "work" on a model, it doesn't carry as much info as IFC, but a simplified, decimated version of a building, meant only for energy analysis. You couldn't hope, for example, to reimport a gbXML file into a design app and work further on it.

If we consider it as an "export" operation, I don't see any problem with using it. Indeed, since FreeCAD doesn't

[2015-02-17 23:09] AnisGitHub commented on #4
gbXML file will be exported using Revit or other software and imported in the energy modeling software. Please refer to the "Best Practices Video." https://www.youtube.com/watch?v=F7cYLzz9C8I

Unfortunately, I have not used IFC but I will do some more research and let you know if it will work on my end.

For the sports complex, the geometry is simple and it should not take a long time to build in

[2015-02-18 14:41] theoryshaw commented on #4
Hi Anis, let's try the gbXML work flow.  See if we can make it work.

It's looking like i'll import , via IFC, @yorikvanhavre's FreeCAD models.

@yorikvanhavre Is there any workflow to create/export out 'Spaces' via IFC?  If not, no worries, i'll create them in Revit before exporting out your model to gbXML.

_(even if there was a way to export out spaces from Freecad, not sure there's a way to ac

[2015-02-18 15:13] yorikvanhavre commented on #4
Hi all,

I watched the revit workflow video above, very instructive... Indeed this implies modelling spaces a special way, where "walls" are touching, etc. So in this case IFC will have little use I guess, unless you know of manner to automatically create those special spaces out of a "realistic" building model, @AnisGitHub.

But, in any case, indeed in this project modelling those spaces won't be

[2015-02-18 22:21] theoryshaw commented on #1
Alright!... we're off to the races!  Got sign-off (or sign off enough) on the site plan layout...Latest civil plan [here](https://github.com/OpeningDesign/Sports_Complex/blob/6439713a7f2a3f5c5742423d3ef704299aa8c7cf/Transfer/20150218_Not_Open_Source_site%20plan%20from%20Civil/15-2809%20xcel%20sport%20jeff%2011x17%20PRE%20SITE.pdf)

Owner would like us to start on the building design options.

@yor

[2015-02-18 23:01] AnisGitHub commented on #4
For energy and thermal analyses we will just need the gbXML.
According to the paper below: It should be noticed that gbXML (the Green Building XML schema) is targeted to exchanging information to engineering analysis, mainly thermal analysis, softwares. IFC (Industry Foundation Classes) has wider scope to support whole building and facility industry through the whole life cycle of a building.

htt

[2015-02-19 13:14] yorikvanhavre commented on #1
Great!

Yes, doing that next week is perfect for me. I can come up with one design option, no problems. I'll do a few sketches tomorrow, then work on it further during the begin of next week, and I can use the end of next week to help building presentable material from the options we have.

I've added 2D support to the FreeCAD IFC importer this week, still not perfect but it'll do already. Actuall

[2015-02-19 16:30] AnisGitHub commented on #1
@theoryshaw I will do my best. Please let me know how you intend to proceed. Would you send the gbxml file or cadd for the two design options? I would like to have a quick call before we start working on the design options. Please let me know what time works best for you.

Thank you,

[2015-02-19 16:59] theoryshaw commented on #1
sure, i'm available up to 4pmCST today.  Or i can do tomorrow morning, from 8-11am CST.
@yorikvanhavre @AnisGitHub what works for you?

Skype/Hangout?

[2015-02-19 17:40] yorikvanhavre commented on #1
Tomorrow morning CST I can't... Today or tomorrow afternoon or evening are fine. (I'm CST+3, or GMT-3)

[2015-02-19 17:42] AnisGitHub commented on #1
I am available whenever you are.

[2015-02-19 18:10] theoryshaw commented on #1
How about 3pm CST today?  Let's do google hangout, if that works for everyone.
@AnisGitHub i'll shoot you a hangout invite.  Thanks.

[2015-02-19 18:16] yorikvanhavre commented on #1
ok for me!

[2015-02-19 18:21] AnisGitHub commented on #1
Same here. Thank you.

[2015-02-21 19:12] theoryshaw opened #5 "Custom Parameters via gbXML"
From what I can gather, the SHGC parameter that is made available to window objects in Revit is not available for Revit 'walls' and 'roofs'.

@AnisGitHub If I created a custom SHGC parameter in Revit that was associated with walls/roofs, is there a workflow, via gbXML export, that would allow me to export out these parameters and ultimately, for you to utilize them in IES?

Or does it make more se

[2015-02-23 20:51] AnisGitHub commented on #5
SHGC parameter can be easily modeled later in the simulation software.

[2015-02-24 16:01] #5 closed, assigned to nobody

[2015-02-24 16:46] theoryshaw opened #6 "Wrapped in polycarbonate - baseline option"
Hi @AnisGitHub as I mentioned on our video chat, let's run a baseline simulation where the entire building is wrapped in polycarbonate and where there's no overhangs.

[Here's](https://github.com/OpeningDesign/Sports_Complex/blob/4a5811d9dc1a3c9775ea1999c2f83da07ecadc56/Models/Proposal%202/Sports%20Complex.xml) the gbXLM of that condition.

Let me know if this file is exported out properly for you

[2015-02-25 00:10] yorikvanhavre commented on #6
Yes, I should be there the whole afternoon tomorrow.

[2015-02-25 14:34] theoryshaw opened #7 "Soil boring locations..."
Hi @stevenuecke & @bausk

Was wondering if you could comment on the GC's question?

_I figure, going forward (unless you guys have a better idea) i'll just ping the both of you, and one of you can assignee yourself to the issue--just to avoid redundant work. Would be ideal if the other verified the approach/answer as well.  Sound good?_

Thanks Guys.

[2015-02-25 15:47] bausk commented on #7
@theoryshaw Ryan,
is there any prior information available on the mechanical properties of the soil on site? Prior records, geological surveys?

[2015-02-25 15:48] bausk commented on #7
I think I'll assign myself and verify with Steven any issues I encounter, that should work.

[2015-02-25 15:58] theoryshaw commented on #7
Hi Alex, i pinged the GC on this question.  He might answer here, or i'll convey it from his email.

[2015-02-25 16:09] stevenuecke commented on #7
Ok, let me know if you need anything.

Thanks,

Steven Uecke

nTrive

[2015-02-25 16:23] stevenuecke commented on #7
I would suggest doing a sample at the 4 corners of the main structure, and at a couple of interior locations.

[2015-02-25 20:41] AnisGitHub commented on #4
Hi @theoryshaw & @yorikvanhavre,

I imported the gbxml using the OpenStudio Plug-in. However, many surfaces appear to be missing. Please see following screen captures.

We will need to either fix the gbxml export per the [Best Practices Video](https://www.youtube.com/watch?v=F7cYLzz9C8I) or start the model from scratch.

I would really appreciate it if you could also export the CAD drawings (Plans

[2015-02-25 20:58] theoryshaw commented on #4
Thanks @AnisGitHub ... let me take a look at the model and see if i can rectify those conditions.

yes, i'll upload DWGs next time.  are DWGs or PDFs better for you?

will get back to you. Thanks.

[2015-02-25 21:53] kraut34 commented on #7
I grabbed some information from the USDA site.  I will attach.  Not sure if it will help
![xcel site usda info](https://cloud.githubusercontent.com/assets/11200470/6381387/68f362ba-bd06-11e4-8c79-bbe104b6ef5d.jpg)
![xcel site usda info2](https://cloud.githubusercontent.com/assets/11200470/6381388/68fd4cbc-bd06-11e4-98ec-c9abe39fc3ea.jpg)

[2015-02-25 22:40] theoryshaw commented on #4
Okay @AnisGitHub, resync, and try the (Sports Complex.xml) file.

Let me know i was able to fix it. Thx.

[2015-02-26 09:36] bausk commented on #7
Attaching data: Soil Survey of Jefferson County, Wisconsin (1979) Mostly agricultural; Table 8 is relevant though.

http://www.nrcs.usda.gov/Internet/FSE_MANUSCRIPTS/wisconsin/jeffersonWI1979/jeffersonWI1979.pdf - see page 138

Soil map of the area:

http://www.nrcs.usda.gov/Internet/FSE_MANUSCRIPTS/wisconsin/jeffersonWI1979/map45.pdf

[2015-02-26 10:00] bausk commented on #7
@theoryshaw  4 corners and some interior location sounds good to me. Here's a sketch based on the most recent IFC and Steven's comment.
![approximate boring locations](https://cloud.githubusercontent.com/assets/1504776/6389630/c80f5118-bdb6-11e4-8ade-cde5f13bd5f8.png)

Would like @stevenuecke to comment on any possible issues with this of course.

@theoryshaw Also, any idea on GC's capacity as reg

[2015-02-26 15:06] theoryshaw commented on #7
Thanks Alex.

Alex, meet, Toby Krause (@kraut34) the GC.
Toby, you met Steven (@stevenuecke) the other day.

I would imagine 35ft is doable. (@kraut34 to confirm)  Pretty sure there's not bedrock in that area.

Thanks.

[2015-02-26 15:32] AnisGitHub commented on #4
The gbxml imort is still generating many many warnings because of missing surfaces.

DWGs & PDFs are both good to have.

![capture-11](https://cloud.githubusercontent.com/assets/10747019/6394869/b857b74e-bd91-11e4-825e-b507260268dd.PNG)

[2015-02-26 15:37] theoryshaw opened #8 "Building Envelope Approaches/Precedent"
Hi @yorikvanhavre, per our conversation here's a Pinterest board we can add our precedents to....
https://www.pinterest.com/theoryshaw/xcel/

This will help us dial into a common approach.
Thanks.

[2015-02-26 16:09] theoryshaw commented on #4
can you commit the openstudio file?  I'd like to investigate. thx.

[2015-02-26 16:17] yorikvanhavre commented on #8
Great! Lots of good examples already...

[2015-02-26 16:35] yorikvanhavre commented on #4
Just a question @AnisGitHub would a "very simple" mesh model , without any specific material information, be useful to you? I imagine something like this (DAE file, importable in sketchup, scale in meters):
https://dl.dropboxusercontent.com/u/7546976/Sports%20Complex%20simple%20mesh.dae
Because such model is super easy to produce... But I'm not sure how far this is usable in an energy analysis con

[2015-02-26 18:00] AnisGitHub commented on #4
@btheoryshaw please see the OS file: TESTMODEL-0

@yorikvanhavre I would really like to test the "very simple" mesh model. However, I could not open the link above https://dl.dropboxusercontent.com/u/7546976/Sports%20Complex%20simple%20mesh.dae
Could you please resend it?

[2015-02-26 18:00] AnisGitHub commented on #4
@theoryshaw please see the OS file: TESTMODEL-0

@yorikvanhavre I would really like to test the "very simple" mesh model. However, I could not open the link above https://dl.dropboxusercontent.com/u/7546976/Sports%20Complex%20simple%20mesh.dae
Could you please resend it?

[2015-02-26 18:17] AnisGitHub commented on #4
@yorikvanhavrethe Here is a screen capture of the OS import tool.
![capture-00](https://cloud.githubusercontent.com/assets/10747019/6398442/e075484c-bda8-11e4-95dd-4423b9997af6.PNG)

[2015-02-26 18:54] yorikvanhavre commented on #4
Hmm okay... I thought you'd be able to use any sketchup model, but openstudio apparently only uses sketchup as a host, but does its own business inside... Okay, then I guess the .dae file I linked above will not work anyway. I'll look further at the gbXML format...

[2015-02-26 19:23] theoryshaw commented on #4
Will take a look at it as well. It will have to wait until tomorrow though.
Also pinged for help: https://twitter.com/theoryshaw/status/571025801778483200

[2015-02-26 21:26] kraut34 commented on #7
I spoke with our geological engineer.  He said with this type of structure 15' below proposed footing will be plenty.  I can talk with the steel building company we hope to work with and find out an approximate load on the girder footings.  This will help structural engineer the footings, or at least determine how thick the footings will be.

[2015-02-26 21:53] theoryshaw commented on #7
Closing issue, unless @stevenuecke has objections. thanks guys.

[2015-02-26 21:53] #7 closed, assigned to bausk

[2015-02-26 22:44] stevenuecke commented on #7
Looks good to me

[2015-02-27 00:28] AnisGitHub commented on #4
Thank you @theoryshaw  & @yorikvanhavre. I think we are in a good direction. But we can always develop an accurate model from scratch.  I would also like to have the DWGs and PDFs if they are not already here. Please let me know what you think.

Thank you,

[2015-02-27 01:37] theoryshaw commented on #4
Let me dial into the proper export.  It's important that we fine tune this part of the workflow.  I'll work on it tomorrow. Thx.

[2015-02-27 22:48] theoryshaw commented on #4
@AnisGitHub I think i got it! (cross fingers) --> https://github.com/OpeningDesign/Sports_Complex/commit/0f1e6d1df9f71020471b69a8cf06fef83e4c7765

[2015-02-27 23:47] AnisGitHub commented on #4
@theoryshaw this is much better. But there are still missing surfaces. Please see following screen captures. Any progress on the DWGs and PDFs? Thank you,
![capture-1b](https://cloud.githubusercontent.com/assets/10747019/6423233/27d018a0-bea0-11e4-92a6-657bc2745c8f.PNG)
![capture-1a](https://cloud.githubusercontent.com/assets/10747019/6423234/27d0e83e-bea0-11e4-9e07-25b4e4222e07.PNG)

[2015-02-28 20:12] theoryshaw commented on #4
@AnisGitHub This has to be the charm (gbxml & pdfs) --> https://github.com/OpeningDesign/Sports_Complex/commit/816dca66896dbe95a854c4e7f34dd2df4564bc3d

Let me know if you need DWGs as well.  I can certainly export them out as well.

[2015-03-01 12:22] theoryshaw commented on #4
small tweak --> https://github.com/OpeningDesign/Sports_Complex/commit/4490c19f05991e0493cc6420ee064e67ef3f3475

[2015-03-01 14:17] theoryshaw commented on #4
hold off importing.  I've got the openstudio sketchup plugin working, and still notice gaps.

[2015-03-01 18:59] theoryshaw opened #9 "OpenStudio not importing shading surfaces into Sketchup"
@AnisGitHub It appears from the following test files...
https://github.com/OpeningDesign/Sports_Complex/commit/55ea57365f7df3ed7f19afde72467e4123eda09b

...that OpenStudio is not importing shading surfaces into Sketchup.

From what I can gather, it should import these shading overhangs, correct?

Thanks, Ryan

[2015-03-02 20:35] theoryshaw commented on #9
It's a bug, i guess.

https://unmethours.com/question/3326/shading-objects-not-importing-via-openstudios-sketchup-plugin/

https://github.com/NREL/OpenStudio/issues/1495

[2015-03-02 20:40] theoryshaw commented on #4
@AnisGitHub, Okay, other than the shading [bug](https://github.com/NREL/OpenStudio/issues/1495), I think we're good to go now with the gbXML --> https://github.com/OpeningDesign/Sports_Complex/commit/ce8ecf68bd8da3ad0b7d92ca43245256dba905a9

Do you suggest we just model in the overhangs in sketchup at this point?

[2015-03-02 21:17] AnisGitHub commented on #4
Thank you @theoryshaw. We will have to add the overhangs using the Legacy OpenStudio Plug-in for SketchUp. I will review and get back to you. I would appreciate it if you could please upload the DWGs as well.

[2015-03-02 21:57] theoryshaw commented on #4
No problem @AnisGitHub, here's the DWGs: https://github.com/OpeningDesign/Sports_Complex/commit/e536ef622d0e2539954ec71ebe5058ed376f3edf

[2015-03-03 15:00] theoryshaw commented on #4
@AnisGitHub did you need a 3D DWG as well?

[2015-03-03 15:51] #9 closed, assigned to nobody

[2015-03-03 15:53] theoryshaw commented on #6
@AnisGitHub Let me know when you're able to have another video chat to review this approach. Thx.

[2015-03-04 05:00] dottkamm commented on #8
Hey Guys,

I've been reading a lot of the comments about the new facility, and I finally found a way to contribute.

This past weekend I took my son to the University of Wisconsin – Whitewater basketball game. I had an opportunity to check out their recreation facility. I thought I would share a few observations and photographs. Please, see the photos below. (Hopefully I was able to upload them co

[2015-03-04 19:33] theoryshaw commented on #3
Cost Data of Various Wall/Roof Materials & Assemblies....

https://github.com/OpeningDesign/Sports_Complex/blob/master/Research%20and%20Info/Polycarbonate%20Research/Polycarbonate_Research.md#costs-of-various-wallroof-materials--assemblies

[2015-03-04 21:15] theoryshaw commented on #8
Thanks @dottkamm! Yes glare is potentially an issue.  Will have to addressed with the help of @AnisGitHub

Glare becomes more of an issue the greater the contrast is between light/dark areas.  Ironically, if there was more translucent panels letting in more light (that is, less dark opaque areas to contrast against), there would be less glare.

Agree on other points.

Although multiwall polycarbon

[2015-03-04 21:38] theoryshaw commented on #3
@dottkamm I called http://www.midlandplastics.com/ get pricing on the following products...
- Wall
  - [arcoPlus 324](http://gallinausa.com/arcoplus/arcoplus-324/) without [IR](http://gallinausa.com/glazing-treatments/ir/)
  - [arcoPlus 547](http://gallinausa.com/arcoplus/arcoplus-547/) without [IR](http://gallinausa.com/glazing-treatments/ir/)
  - [arcoPlus 547](http://gallinausa.com/arcoplus/arc

[2015-03-04 21:49] yorikvanhavre commented on #8
Very interesting points, and nice pictures
I also think that glare strongly depends on the contrast... If you imagine the building fully covered with the same polycarbonate, you'd obtain a situation similar to exterior conditions.

I agree a lot with @dottkamm about protecting the walls from impact. Even if these panels can resist hurricane wind, I'm not sure a furious basketball wouldn't leave a

[2015-03-04 23:21] AnisGitHub commented on #4
@theoryshaw  Sure. Thank you.

[2015-03-05 03:11] dottkamm commented on #3
Cool. That sounds good. I'll be interested to see the price difference. Do you want me to see if I can get pricing on a typical metal building wall for comparison?  (Oops, I just realized that you already started on this on the other thread.)

I've been looking at RS Means a bit for how to put together preliminary estimates. I'd like to experiment with this project if it makes sense. I figure it c

[2015-03-05 14:31] theoryshaw commented on #3
@dottkamm  Yes, if you scroll to the bottom of [this](https://github.com/OpeningDesign/Sports_Complex/blob/master/Research%20and%20Info/Polycarbonate%20Research/Polycarbonate_Research.md) document, you'll see I started pulling together pricing for various materials/assemblies.

Going forward, you can take over this task if you want.  Perhaps you can organize the Revit Model with pricing attached t

[2015-03-05 14:51] theoryshaw opened #10 "Schematic Design Presentation..."
Hi @yorikvanhavre @AnisGitHub

A meeting is scheduled for next Tuesday(3/10) to go over the two design options. Let's work toward that deadline if you can.

@yorikvanhavre In addition to revamping 'Proposal 1', can you do the renderings for both proposals as well?

@AnisGitHub as you suggested via email, let's have a meeting this afternoon(3/5)  Does 3pm CST work for you and @yorikvanhavre?

[2015-03-05 15:12] yorikvanhavre commented on #10
Works for me, the deadline, the renderings and the meeting... I'll try to have a new design between today and tomorrow, and I can do the renderings on monday.

[2015-03-05 15:19] theoryshaw commented on #4
here you go --> https://github.com/OpeningDesign/Sports_Complex/commit/a9c5ac38a2a303171d1c9b5e35eb83674a0215e7

[2015-03-05 19:01] AnisGitHub commented on #10
Works for me as well.

[2015-03-06 15:06] theoryshaw opened #11 "Overhangs on East/West"
Thanks @AnisGitHub for the discussion yesterday.

Would you advise including overhangs on the east/west elevations of the 2-story space? Illustrated in red below?

Or is it not as crucial?

Only ask because it will be a little harder to accommodate the structure and necessary thermal breaks at those conditions.  Can be done, but just a little more fuss.

![screenhunter_225 mar 06 09 01](https://cl

[2015-03-06 21:37] AnisGitHub commented on #11
@theoryshaw you are very welcome.

In General, it is highly recommended to reduce or eliminate all glazed openings on the west and east facades.

Overhangs alone will not be able to protect glazed surfaces from unwanted solar gains and will result in poor daylighting quality and controls. Eggcrate will provide the most efficient shading and daylighting controls for E & W oriented windows. Please s

[2015-03-06 21:50] theoryshaw commented on #11
Thanks @AnisGitHub.  Unfortunately, the budget will not allow for fin applications on the facade.

Think we can get sufficient protection using...
http://gallinausa.com/glazing-treatments/ir/

Or should we just make those ends opaque, material wise?

Thanks, Ryan

[2015-03-06 21:54] AnisGitHub commented on #11
We should just make the ends opaque.

Thanks,
Anis

[2015-03-06 22:25] #11 closed, assigned to nobody

[2015-03-06 22:31] theoryshaw commented on #11
@AnisGitHub
I'd like to keep the issues more atomized. quick and close.

We can create a 'Climate, Shading & Daylighting Analysis' label if you think it would help.

[2015-03-06 22:52] AnisGitHub commented on #11
That sounds good.

[2015-03-06 23:08] theoryshaw commented on #10
@yorikvanhavre if interested...snapshot so far... https://github.com/OpeningDesign/Sports_Complex/commit/c393192603e653c81bf1ac4123a74a73ffcd0073

[2015-03-06 23:40] theoryshaw commented on #10
PDFs too: https://github.com/OpeningDesign/Sports_Complex/commit/b87babe24854c7fcad50d7b7ba96ecd2a569c57b

[2015-03-09 14:42] theoryshaw commented on #10
Thanks @yorikvanhavre Can we get together today to discuss proposal 3?  Thx.

[2015-03-09 15:01] theoryshaw commented on #10
@yorikvanhavre I'm wondering if you could critique Proposal 2? I'd like to hear your feedback on it too.

[2015-03-09 15:40] theoryshaw commented on #10
Overall, I like the approach of Proposal 3.  Here's a couple comments/opinions to inform our discussion...

![screenhunter_230 mar 09 10 38](https://cloud.githubusercontent.com/assets/507113/6558172/6f47532e-c648-11e4-8210-d78404fc5888.jpg)
![screenhunter_231 mar 09 10 38](https://cloud.githubusercontent.com/assets/507113/6558180/8266356a-c648-11e4-8e94-09c8a7c82362.jpg)
![screenhunter_232 mar 09

[2015-03-09 21:05] theoryshaw opened #12 "Wind Turbines"
@AnisGitHub In place, of a ridge lantern could we use a number of turnbine vents... as illustrated here...

![screenhunter_236 mar 09 15 59](https://cloud.githubusercontent.com/assets/507113/6564362/f17e2cc8-c675-11e4-9649-fafe7de3e9f3.jpg)

![screenhunter_238 mar 09 16 03](https://cloud.githubusercontent.com/assets/507113/6564355/e9ba5dfe-c675-11e4-8d27-e1eac8daa61b.jpg)

[2015-03-09 21:06] yorikvanhavre commented on #10
Hi @theoryshaw Honestly I have not much to say about proposal 2... The "all polycarbonate" option is still pretty interesting to me, independently of what @AnisGitHub will tell us. I'm afraid I'll need to get out now and might be back late, but let's discuss tomorrow, if it's ok for you.

I added some renders for proposals 2 & 3 in cfd427f

[2015-03-09 21:50] AnisGitHub commented on #12
@theoryshaw are these turbine vents mechanical? powered by a motor ? Do you have a cutsheet/link ?

For Natural Ventilation: In general we will need to first design the ventilation scheme, calculate the air volume and temperature required to maintain thermal comfort then size the openings. To make this work we need either roof monitor along the long axis of the two story space or operable skylight

[2015-03-09 22:13] theoryshaw commented on #10
Hey @yorikvanhavre  Renderings look great.  A couple comments in the images below.

Also, is it possible to get an interior rendering with the viewer in the northeast corner of the 2-storyspace, looking south and southwest?

can you use the following textures...
https://github.com/OpeningDesign/Sports_Complex/tree/master/Models/Proposal%202/textures
texture_fiber_cement.png (for exterior)
texture_

[2015-03-09 22:17] theoryshaw commented on #12
Yeah no particulars on the vents at this time, just looking for general feedback on the conceptual approach.

Thx!

[2015-03-09 22:17] #12 closed, assigned to nobody

[2015-03-09 22:53] AnisGitHub commented on #6
@theoryshaw  the design in this [video](https://www.youtube.com/watch?v=HI1Ov3ZDbgs) from Kalwall is very close to the initial baseline.

[2015-03-10 03:32] AnisGitHub commented on #10
@theoryshaw & @yorikvanhavre  Please let me know if you want me to join the meeting.

[2015-03-10 03:52] dottkamm commented on #10
Looks great guys.
I don't want to distract you from your deadline, but I thought I'd add a couple of notes:
1. It looks like the Polycarbonate can handle snowloads to a certain extent per the literature. I'm curious if there are any buildings in the area with this type of pitch. Greenhouses come to mind, but they generally have steeper pitches. I love the idea of a daylit ceiling. I just haven't s

[2015-03-10 04:08] dottkamm commented on #10
One other thought. This building will look sweet from the bypass highway at night when the polycarbonate is lit from within!

[2015-03-10 04:24] AnisGitHub commented on #10
An example of a building partially covered in polycarbonate [Dr. Phillips Center in Orlando](http://bungalower.com/2014/11/photo-video-tour-dr-phillips-center-looks-like-night/)

[2015-03-10 14:02] yorikvanhavre commented on #10
Thanks for the comments guys!
Fine for me at 9h CST @theoryshaw

[2015-03-10 15:56] theoryshaw commented on #10
Thanks @dottkamm. Good questions/comments...

Per the acroPLUS literature, the 626 product works on slopes 5% or greater.

Yes, good question, @AnisGitHub will help us dial into that. https://www.linkedin.com/profile/view?id=363382643

From my research and talking to others, this rigid frame approach is the most ecomonical.  Just found out that http://www.foremostbuildings.com/ is on board and wil

[2015-03-10 16:53] theoryshaw opened #13 "Kick-off of foundation/slab design"
HI @stevenuecke / @bausk
(ping @kraut34)

Was wondering if we can kick off the work necessary to start dialing into a schematic foundation/slab design for the proposed design thus far.

Current IFC & Revit file --> https://github.com/OpeningDesign/Sports_Complex/commit/b0eaf2946bdbcccf1a3d1505b6db09f385883585

http://www.foremostbuildings.com/ will be the project's Metal Building Manufacture and I

[2015-03-10 16:56] theoryshaw commented on #13
@stevenuecke can you make a 2pm meeting in Jefferson, WI this Thursday (3/12).  All the subs will be there.  Can meet the Foremost guys.

[2015-03-10 18:47] AnisGitHub commented on #10
@theoryshaw  & @yorikvanhavre  do you think it will be possible achieve a close look to the "all polycarbonate" option by using spandrel glass? That should help with the thermal performance, daylighting and aesthetics.

We should try to keep the west and east openings to a minimum while increasing opening areas on the south facade.

Also for the larger spaces, e.g. the two story space, daylighting

[2015-03-10 19:09] theoryshaw commented on #10
yeah, unfortunately we don't have the budget for spandel glass.

The budget for this is a scooch above (if that) a budget for a wearhouse. ~$50/sf.

btw... owner/sub meeting is this Thursday.  I should have more direction after that.

[2015-03-10 19:19] AnisGitHub commented on #10
Thanks for clarifying @theoryshaw .

[2015-03-11 16:10] yorikvanhavre commented on #10
New renders of proposal 2: 8a6ebdf

[2015-03-12 04:04] dottkamm commented on #10
I was just looking at the 2013 RSMeans square foot costs. A 40,000 sf warehouse with a steel frame and metal sandwich panels for exterior walls costs about $104.10 per sf. Removing the contractor fees and the design fees comes to about $70 per sf. It would be good to know what is all included in the $50/ sf number, so we can keep the design within budget.

[2015-03-12 13:56] theoryshaw commented on #10
Yes, I've let the GC/Owner know that this is number is a little unrealistic. Nonetheless a 'cost effective' approach is something we need to address.

[2015-03-13 14:09] stevenuecke commented on #13
Ryan, So sorry about missing this - I am out of town this week, but I should have given you a heads up on that before I left. What is the status on it currently.

[2015-03-13 14:26] stevenuecke commented on #13
@bausk @theoryshaw Alex, as far as splitting up work for this foundation engineering, Ryan will be sending us the information he has received on preliminary loading from the metal building manufacturer. What software do you use for foundation design? At the end of this project, I will be stamping the structural drawings, so I want to be sure that I can adequately review and supervise any work that

[2015-03-13 15:49] theoryshaw commented on #13
Hey Guys, here's the dropbox location for the preliminary reactions...
`Sports Complex\Closed\Transfer\20150313 - preliminary structural reactions`

As you'll see, the dimensions are not totally accurate and will change slightly as we dial in on building/roof cladding, but I'm thinking it should get you started.

Also, the 1-story part is not there, will ping http://www.foremostbuildings.com/ to s

[2015-03-13 18:26] theoryshaw commented on #10
Hey guys, @yorikvanhavre @AnisGitHub @dottkamm
Had a great meeting with the owner/gc/subs yesterday.

Will followup with more details, just wanted to say thanks for the work thus far.

@AnisGitHub Next week is go time. ;)

Have a good weekend guys!

[2015-03-13 20:13] bausk commented on #13
@stevenuecke @theoryshaw Hi Steven,

I usually use Autodesk Robot for cases that require 3D modeling along with
hand calculations. I will look into what foundation provisions codes do
provide this weekend.

In previous work, we have arrived at a workflow that's basically composing
calculations in an IPython Notebook document, along with any comments,
MathCAD style. I'd like to know if you are comf

[2015-03-16 14:06] stevenuecke commented on #13
Ok, I have looked through the foremost building reactions, and they don't appear to be too high. If you want to go ahead and design the foundations, and do a layout of some sort, that is fine. You can use either of the two methods that you mentioned, and just send pdf output for me to review. Maybe do a few cases first, to make sure we are on the same page with the design method.

[2015-03-16 20:50] theoryshaw commented on #13
@kraut34 Toby, any time frame on the soil boring report?

@bausk Do you need this ultimately to get started?

Thx.

[2015-03-16 21:31] theoryshaw commented on #13
Here's some preliminary sections from Foremost as well.
`Closed\Transfer\20150316 - structure - preliminary sections`

[2015-03-17 01:13] kraut34 commented on #13
They are not drilling until 1st week in April unless something opens up
sooner.  I will find out how fast it can be turned around after that.

Thanks

Toby Krause
Krause Custom Builders
920-285-6490

On Mon, Mar 16, 2015 at 3:50 PM, Ryan Schultz notifications@github.com
wrote:

[2015-03-18 12:11] bausk commented on #13
@stevenuecke @theoryshaw I will upload preliminary sketches today. I don't need the boring report to get started but we will have to update the design as soon as it becomes available

[2015-03-18 13:54] theoryshaw commented on #10
Sorry, @AnisGitHub apparently it's not 'go time' this week. ;)

I'm getting buried by owner requested plan changes.  Will let you know when things start settling down to make efficient use of your time. Sorry for the shift in schedule.

[2015-03-19 17:55] AnisGitHub commented on #10
Thank you for the update @theoryshaw . Please let me know if you have any questions in the mean time.

[2015-03-20 17:52] theoryshaw commented on #13
Hi @bausk ,  one thing you might have picked up on already, but wanted to call out nonetheless, is that due to the future expansion northward, those foundation footings might need to be designed to accommodate that future load.

see sketch...

![2015-03-20 12 40 29](https://cloud.githubusercontent.com/assets/507113/6757375/946da644-cefe-11e4-8873-fb247ce25ec1.jpg)

Also, you might have already not

[2015-03-23 20:40] theoryshaw opened #14 "Recommended bracket spacing for Polycarbonate Panels..."
Hi @stevenuecke

Based on the following information and pertinent loads in this area, what's your recommended bracket spacing for the arcoPlus®547 product?

Product data here --> http://gallinausa.com/arcoplus/arcoplus-547/
<br>
<br>
<br>

![](http://gallinausa.com/wp-content/uploads/2012/02/load.547.1.jpg)
![](http://gallinausa.com/wp-content/uploads/2012/02/load.547.2.jpg)

Thanks, Ryan

[2015-03-23 21:28] stevenuecke commented on #14
And this is for the walls and/or the roof? Do we have any loading drawings from the steel manufacturer yet? I can calculate the wind and snow loads, but if they have already done that, it would be quicker.

[2015-03-23 21:40] theoryshaw commented on #14
For walls only.  No they don't have the 'wind loads' yet.

[2015-03-23 23:58] stevenuecke commented on #14
I am headed out of town for a conference tomorrow, but based on a preliminary review, it looks like the supports would need to be at 5 feet O.C. I will look into it more next week, if you need something more.

[2015-03-24 16:06] bausk commented on #13
@stevenuecke @theoryshaw Hi, I have put the preliminary results for the main frame (base H according to plans, sheets 5 and 5A) into the Dropbox folder under Closed/Transfer/20150324 - preliminary footings. That's the most loaded section and supposedly the most spread out footing.

Steve, could you review the sizing with the following assupmtions: 1) I have made up two variants for allowable beari

[2015-03-24 16:39] theoryshaw commented on #13
Thanks @bausk actually can you commit your work via github?  We'll use dropbox for outside parties.

Possible to also commit authoring files that created the PDFs?

Thanks much.

[2015-03-25 20:41] theoryshaw commented on #9
@AnisGitHub looks like v1.6.3 fixed the problem!

https://github.com/NREL/OpenStudio/releases/tag/v1.6.3

![screenhunter_255 mar 25 15 40](https://cloud.githubusercontent.com/assets/507113/6834946/5a178536-d305-11e4-856a-aae09d5561a2.jpg)

[2015-03-25 20:47] AnisGitHub commented on #9
Thanks for letting me know @theoryshaw

[2015-03-25 21:00] theoryshaw commented on #9
@AnisGitHub  btw, i'm gearing up to shoot you another gbxml on the latest design.  The floor plan has finally settled down now. Hopefully i'll get that out to you tomorrow.

[2015-03-25 21:13] AnisGitHub commented on #9
Thank you @theoryshaw . I look forward to the latest gbxml.

[2015-03-26 12:48] #2 closed, assigned to theoryshaw

[2015-03-26 12:48] #1 closed, assigned to nobody

[2015-03-26 12:49] #8 closed, assigned to nobody

[2015-03-26 12:49] #6 closed, assigned to nobody

[2015-03-27 17:49] theoryshaw commented on #13
Hi @bausk,

fyi @stevenuecke mentioned he was out to a conference this week.

Thanks, Ryan

[2015-03-30 19:52] stevenuecke commented on #13
Here are some preliminary notes:
1. Can you send me the original xls file, so I can take a look at the formulas?
2. I see that they do not allow for inputting DL vs LL/SL. This will affect the overturning and sliding factor of safety.
3. There will be a surcharge load on a portion of the footing, since it will be under the building floor.
4. Typically we use 3ksf as a gross bearing pressure, as a

[2015-03-30 20:54] kraut34 commented on #13
Hey guys,

Soil boring is finally happening today.   I stopped  by and talked to the
drillers, and they said there was nothing out of the ordinary.   I am going
to get them to send me preliminary soil make up before they send the
report, so my civil can work on his report while waiting for the soil
report.  Will this be enough information to put together a preliminary
foundation plan?  This is a b

[2015-03-31 05:33] bausk commented on #13
Hi Steven,
okay good. I have a spreadsheet with DL/LL load breakdown, so that
shouldn't be a problem. I will include your notes in the analysis and
commit the XLS.

On Mon, Mar 30, 2015 at 11:54 PM, kraut34 notifications@github.com wrote:

##

Alexander Bausk
IT Analyst, Structural engineer
MSc Structural engineering, Ph.C. Engineering
Professional blog at http://writandraw.org

[2015-04-01 17:28] #3 closed, assigned to theoryshaw

[2015-04-01 17:28] #4 closed, assigned to nobody

[2015-04-01 17:28] #10 closed, assigned to nobody

[2015-04-01 17:49] theoryshaw opened #16 "Energy Modeling"
Hi @AnisGitHub

I think we're finally there!  The floor plan has settled down enough for you to effectively jump back on the energy analysis.  Sorry for the wait!

I marked up [this](https://github.com/OpeningDesign/Sports_Complex/blob/master/Transfer/20150401%20-%20set%20for%20energy%20and%20daylighting%20analysis/20150401%20-%20set%20for%20energy%20and%20daylighting%20analysis.pdf) pdf with thos

[2015-04-02 19:03] theoryshaw commented on #13
Hey Guys ( @bausk @stevenuecke )

Here's the location of the preliminary draft of the soil boring report...
`closed/transfer/20150402 - Preliminary Draft Soil Boring Report`

Thanks, Ryan

[2015-04-05 20:23] AnisGitHub commented on #16
@theoryshaw  I am reviewing the documentation and I will get back with questions and comments.

Please let me know if you have time Monday 04/06 to catch up.

Thank you,
Anis

[2015-04-06 06:58] bausk commented on #13
Hey @stevenuecke @theoryshaw, here's the two commits on footings:
c989f8dffcde29672c7e5876196acea5d42f6960 - documents (as in Dropbox, removed from Dropbox)
5264510df47e2defca72c27c2ef4828364756d3f - sources for footing analysis

I am trying to convert the Excel source to a more readable Python algorithm form (.ipynb format) that will be friendly to version control.

[2015-04-06 13:52] theoryshaw commented on #16
Morning @AnisGitHub Sure let's get together today, if you can. How about 11am CST today?

[2015-04-06 15:52] theoryshaw opened #17 "Structural Foundation Plan"
Hey Guys ( @bausk @stevenuecke ),

Alex, are you planning on modeling up (and drafting) the CDs for the foundation plan?

[Here's](https://github.com/OpeningDesign/Sports_Complex/blob/master/Models/Proposal%202/Sports%20Complex.ifc) the latest IFC file.

Let me know if you need anything from me.

Thanks, Ryan

[2015-04-06 19:48] theoryshaw commented on #17
Hey Guys.. just got word from the GC, that a preliminary foundation plan is priority. Possible to get this out by the end of the week? Thanks.

[2015-04-06 20:04] bausk commented on #17
@theoryshaw Ryan, I will proceed with the plans according to the existing
design sheet. @stevenuecke Steve, please review the XLS design sheet so
that I can make any alterations in the process. If there are no major
revisions, I will put it up for Steve's review before Thursday.

Also, Ryan, is there any template to comply with as regards drawings/plans?

On Mon, Apr 6, 2015 at 10:48 PM, Ryan Schu

[2015-04-06 21:31] stevenuecke commented on #13
I will try to begin reviewing these tonight.

[2015-04-06 21:32] stevenuecke commented on #17
@theoryshaw Ryan, based on the amount of work with drafting, and even considering the review time, I'm not thinking that this week is realistic with regards to preliminary drawings - unless you are looking for something un-checked and potentially rough. What percentage complete are you looking for?

[2015-04-07 14:02] theoryshaw commented on #17
I'll let Toby (@kraut34) speak for himself, but I think he just wants to get some high-level pricing at this point. So preliminary drawings I would think would be fine.

My ARCH set is only at 50% DD, at this point, but Toby is pulling numbers together.  He's aware, as is the team, that things will change as we go.

[2015-04-07 16:22] kraut34 commented on #17
Ryan is correct.  I am just looking to get some rough numbers put together.  Thanks!

[2015-04-07 18:00] theoryshaw commented on #17
Hi @bausk This might chance a little, but [here's](https://github.com/OpeningDesign/Sports_Complex/blob/b982e011523562d06588514c35e5a17e255dde59/Transfer/20150407%20-%20proposed%20title%20block%20to%20Civil/20150407%20-%20Xcel%20-%20proposed%20title%20block.zip) the proposed title sheet template.

Thanks.

[2015-04-07 20:35] theoryshaw opened #18 "Automated Revit annotation and simple IFC roundtripping"
@yorikvanhavre @dimven

Hey guys, let's continue the conversation here...

- @yorikvanhavre, As you can see from the following video, i don't have access to the "description" parameter. https://www.youtube.com/watch?v=3CJvjOzjxkw&feature=youtu.be
  - @dimven what your thoughts here? a particular parameter we should embrace?
- Also, @yorikvanhavre, as you'll see i copied one of those 3-dimensional

[2015-04-08 01:42] yorikvanhavre commented on #18
This is strange, when I reimport my own IFC file, indeed the lower stud comes cleanly, while the 2 others have some defects. This is clearly a flaw somewhere in the exporter, I'll try to locate the problem. The very good thing is that Revit is apparently able to edit any object as long as it doesn't come triangulated. We might be able to improve the workflow a lot, because normally FreeCAD's IFC e

[2015-04-08 02:23] dimven commented on #18
I'll copy my e-mail from yesterday to ease further discussion:

_Thank you for your detail. My initial observations are that if you open the IFC file straight away in Revit, all the intelligent data is wiped. That eliminates the option of editing anything in the file inside Revit before linking._
![2015-04-07_11-10-03](https://cloud.githubusercontent.com/assets/7148394/7037632/4f83516c-ddd8-11e4-8

[2015-04-08 14:07] theoryshaw commented on #18
okay, sounds good.  Just curious, did my IFC file with the new copied studs come in triangulated?

sound good.  I'll look at running merge tests with our 'detail file' as we evolve it.

sounds good.  From my perspective, i feel we should look into using the IFCSURFACESTYLE or the IFCMATERIAL property.  Having run tests, upon import, Revit translates those properties to Revit's native material prop

[2015-04-08 15:13] yorikvanhavre commented on #18
Yes your file opened correctly. I updated mine too, I believe now the 3 studs should be editable.

At the moment FreeCAD will export "basic" material info as IfcSurfaceStyle, but will create a separate one for each object. I could change that easily I think.

Replying to some @dimven's observations above:
- FreeCAD exports to the IFC 2x3 format, which is the current "stable" release. IFC 4 (older

[2015-04-08 22:29] theoryshaw commented on #13
Not final final yet, but close.

Here's the location of latest revision...
`Closed\Transfer\20150408 - Pre-final Soil Boring Reports and soil evaluation`

The final report should be done early next week.

[2015-04-09 02:12] dimven commented on #18
@yorikvanhavre
I'm getting similar behavior with the IfcOpenHouse.
When opened:
![2015-04-09_09-45-35](https://cloud.githubusercontent.com/assets/7148394/7059207/9553e446-de9f-11e4-9c3d-275027be8c24.png)
When linked:
![2015-04-09_09-45-02](https://cloud.githubusercontent.com/assets/7148394/7059212/9e555d4a-de9f-11e4-953b-0224e6ad5fb9.png)
This is all running on Revit 2015 UR5 (build 20141119_0715)

[2015-04-09 08:49] bausk commented on #13
Ok, will use this one for the first revision.

On Thu, Apr 9, 2015 at 1:29 AM, Ryan Schultz notifications@github.com
wrote:

##

Alexander Bausk
IT Analyst, Structural engineer
MSc Structural engineering, Ph.C. Engineering
Professional blog at http://writandraw.org

[2015-04-09 13:05] dimven commented on #18
I've been digging through the API. It seems like Revit 2015 has two modes of opening an IFC files - Reference and Parametric. This might be what is taking away the parameter data.
Edit: I created a simple dynamo definition to ease the ifc to rvt conversion. You don't need to link,bind and ungroup to keep the parameters anymore. Please test it and tell me if it works as expected for you.
@yorikvanh

[2015-04-09 13:41] stevenuecke commented on #13
I took a look at the foundation designs, and they appear to not take into account my previous 4 comments. I will wait for updated designs that incorporate those comments. This most recent soil boring still doesn't have the geotechnical report, so maybe we should proceed with sizing based on the 3ksf that I recommended?

[2015-04-09 13:50] theoryshaw commented on #18
Sure, i'll test it.

as you hinted above, the objects are not editable when you bind an IFC file into Revit.
as shown here: https://www.youtube.com/watch?v=yYa3OibySK0

[2015-04-09 13:59] dimven commented on #18
Yes. Unfortunately the above dynamo graph makes elements uneditable as well. It seems that during the conversion process from IFC to RVT components, the assigned parameters are lost. The dynamo definition bypasses the conversion process by importing the file in "Reference" mode.

[2015-04-09 14:37] theoryshaw commented on #18
resultant files: https://github.com/OpeningDesign/Sports_Complex/commit/a499c59c7f32338912856d5028227d9feffe245c

video workflow:
https://www.youtube.com/watch?v=BSUHKhMzAx0

Unfortunately we need those objects/parameters to be editable for roundtripping.

Can we entertain using  IFCSURFACESTYLE or the IFCMATERIAL property?  Those translate into revit's native material parameter.

[2015-04-09 14:59] dimven commented on #18
Hmm, ok I think I've got some ideas how to fix this.
Revit (2015 and above) has a dedicated method that supposedly can handle this kind of parameter mapping:
http://revitapisearch.com/html/87327a4b-94fd-5a21-df33-9beb1921cb4d.htm
However it seems to be based on dictionaries, which at the moment are not working with Dynamo's ironPython version. I think I can rig something similar tho. The great new

[2015-04-09 15:26] theoryshaw commented on #18
sounds good.  I would only say let's keep an eye toward future expand-ability to other platforms (archiCAD, microstation, for example).  If we embrace a parameter that is already consistently translated with existing MVD's like CV 2.0 then it will make it easier to translate this roundtripping workflow to those platforms in the future.

Obviously the automated annotation part of this will be Dynam

[2015-04-10 18:13] theoryshaw opened #19 "Problem with IfcOpeningElements revit/freecad"
@yorikvanhavre @dimven

Not sure it's a Revit/FreeCAD thing, but documenting here, nonetheless.

@dimven suggestion of [using Filters](https://github.com/OpeningDesign/Sports_Complex/issues/18#issuecomment-91092495) to turn off IfcOpeningElements works, but for some reason you cannot select objects that are engulfed inside an IfcOpeningElement

video illustrates...
https://youtu.be/9kw8W19DUvI

I'

[2015-04-13 18:42] yorikvanhavre commented on #18
@dimven dynamo works in a virtual machine, I just installed it and seems to work fine. Cool! Now I need to look a that python thing. You might not be aware of that, but FreeCAD can be imported as a python module in another application (once the path is set in sys.path, a simple "import FreeCAD" does it) imagine freecad running inside dynamo, sickening wild possibilities!

I'm working on proper mat

[2015-04-13 19:34] theoryshaw commented on #18
Thanks @yorikvanhavre for the update.

including these for others...
https://twitter.com/theoryshaw/status/587697778190635008
https://twitter.com/theoryshaw/status/587698122794672130

openIDF or BSDD might not be appropriate here, but wanted to log nonetheless.
Defer to you on best approach.

Thanks.

[2015-04-15 00:07] theoryshaw commented on #18
Hi @dimven

It appears, via the back/forth with @yorikvanhavre that we'll be embracing the IfcMaterial parameter.

Just wanted to check in with you to get your thoughts on the annotation part.  Would like to use this solution, if possible, for the CDs we're putting together for the State Submission, which will be in a couple weeks.

Here's the latest [detail_ryan.ifc](https://github.com/OpeningDes

[2015-04-15 00:11] theoryshaw commented on #13
Hi @bausk just wanted to check in to see the status of those preliminary plans and revised calcs.

Also, we're adding another 2-story structural bay to the east of the building. I'll revise the plan and get back to you.

Thanks, Ryan

[2015-04-15 04:40] bausk commented on #13
Ryan, I'm finishing the drafting, will upload today -- sorry for the delay.

On Wed, Apr 15, 2015 at 3:11 AM, Ryan Schultz notifications@github.com
wrote:

##

Alexander Bausk
IT Analyst, Structural engineer
MSc Structural engineering, Ph.C. Engineering
Professional blog at http://writandraw.org

[2015-04-15 07:37] dimven commented on #18
Hi guys, unfortunately I've been hard-pressed for time lately and haven't been able to contribute much to the workflow.

First of all, the new detail looks great. However I have some comments.
At the moment each element is a "Model In-Place" family. MIP components are sub-optimal due to many reasons (each family instance is a separate unique entity, file size issues,hard to edit sometimes, etc.).

[2015-04-15 12:55] theoryshaw commented on #18
Hi @dimven Unfortunately, when you assign a material via a 'material parameter' as your video illustrates, it's lost upon a roundtrip.

On a high level, what other object types could we use, other than a MIP, that will holdup to a roundtrip?

So Dynamo cannot extract the material 'text string' from objects inside a MIP?

[2015-04-15 15:29] yorikvanhavre commented on #18
Wow, pretty simple system (map from the name "concrete" to a "concrete" material found in Revit's presets...) Could lead to major problems if one is not very careful!

I'm working on something in FreeCAD now ( @dimven it is normal that no material info gets exported from your version), that I think will be good, and be ready in the next days, with total control over material properties. I didn't l

[2015-04-15 17:32] theoryshaw commented on #13
Thanks Alex,

Here's the final Soil Boring Report...
`Closed\Transfer\20150415 - Final Soil Boring Reports`

[2015-04-16 14:41] dimven commented on #18
@yorikvanhavre
To further test my theory, I copied Revit's default arch. template and copied the brickwork material, renaming it to two material instances found inside your original IFC file:
![2015-04-16_22-32-49](https://cloud.githubusercontent.com/assets/7148394/7183241/e30fc1e8-e488-11e4-8eae-53933b1ace00.png)

Then I made sure I assigned the new template from Open>IFC Options:
![2015-04-16_22

[2015-04-16 15:13] dimven commented on #18
@theoryshaw
Unfortunately neither Dynamo nor a macro can access the info inside the MIP. It acts as a wrapper around the default FamilyManager utility so that it can imitate the family creator inside a project file. It's one of Revit's many temporary hack-jobs (one of the reasons why Revit's API looks like a mess sometimes) that was quickly developed to bring in new functionality and then implemen

[2015-04-16 15:23] theoryshaw commented on #18
damn... @yorikvanhavre, how about automated annotation on your end? :)

[2015-04-16 15:31] theoryshaw commented on #18
Hi @AngelVelezSosa, per @dimven's comment [above](https://github.com/OpeningDesign/Sports_Complex/issues/18#issuecomment-93759943), do you guys have any plans of exposing the parameters/values inside MIP families?

[2015-04-16 15:41] dimven commented on #18
Quick update. So changing the In-Place's category does have some effect. The most potent ones seem to be Walls/Columns/StructuralColumns. When assigned as a wall, you can access the material property from the wall type's composite structure layers(hard). When assigned to columns, the material can be accessed as a type property. When assigned to structural columns, the material can be changed as an

[2015-04-16 16:16] yorikvanhavre commented on #18
@dimven ok that's great. So we would have already a quick way to map materials... Would be just a question of giving them a defined name when exporting from FreeCAD, and the trick is done. But I added yesterday a first draft of material support to FreeCAD's arch workbench, I think it will prove pretty powerful. Now I'll adapt the IFC exporter and importer to work with it.

At the moment, in FreeCA

[2015-04-16 16:22] theoryshaw commented on #18
totally agree... currently dialing into that lowest common denominator.

[2015-04-17 14:39] theoryshaw commented on #17
Hi @bausk Were you planning on modeling/drafting out the foundation for the entire building?  Wasn't able to find it on your last commit.

If so, what are you modeling it in?  Possible to commit IFC and native files?

Thanks.

[2015-04-17 15:40] dimven commented on #18
Hi guys,
I've been doing some homework and I found the following articles to be very helpful. Have a look if you have the time.
https://www.augi.com/library/myth-buster-revit-ifc
https://www.augi.com/library/myth-buster-revit-ifc-part-2-the-saga-continues
https://www.augi.com/library/myth-buster-revit-ifc-part-3
https://www.augi.com/library/myth-buster-revit-ifc-part-4-a-new-hope

[2015-04-17 15:53] AngelVelezSosa commented on #18
There are a lot of comments to go through here, so I'll add some information.

For Link IFC, Revit imports the IfcOpeningElements and the IfcSpaces.  This allows you to schedule the information and also update them (since we store their GUIDs).  These can be turned off under Generic Models visibility - unfortunately the API doesn't allow a great way to do this automatically, but once you do it onc

[2015-04-17 17:12] dimven commented on #18
Thanks for your generous offer to help, Angel.
I asked around and got a great tip from Andreas Dieckmann for a way of extracting materials from model in-place families. It's a very round-about work flow and I'm trying to make it a bit more robust:

https://www.youtube.com/watch?v=Rp_8tcci_EQ&feature=youtu.be

[2015-04-17 21:30] theoryshaw commented on #16
Hi @AnisGitHub as i discussed the other day, we've added an additional structural bay to the east of the building.

Please see the following location for revised PDFs and DWGs:
`Sports Complex\Open\Sports_Complex\Transfer\20150417 - racquetball and mezzanine`

[2015-04-17 21:33] theoryshaw opened #20 "Additional Structural Bay"
@stevenuecke @bausk (@kraut34)

Hey Guys, as I hinted in the other discussion, per a Owner/GC/Sub meeting the other day, we are adding another structural 2-story bay with a mezzanine to the east of the facility.

Please see plans, for proposed addition.

https://www.dropbox.com/s/zjygtr3puvl9f6r/20150417%20-%20Xcel%20-%20racquetball%20and%20mezzanine.pdf?dl=0

This will obviously effect your struc

[2015-04-18 01:28] theoryshaw commented on #18
That's awesome @dimven! thanks for the help @andydandy74.

@AngelVelezSosa thanks, as well, for the reply.

Just to summarize, if you're curious what we're trying to do, we're trying to automate the annotation of a linked IFC file--an IFC file that we we're roundtripping between Revit and FreeCAD.  A very barebones roundtripping, that is only use IFCBUILDINGELEMENTPROXY entities and simple extrusi

[2015-04-20 17:20] theoryshaw commented on #17
@bausk  I'm assuming [this file](https://github.com/OpeningDesign/Sports_Complex/blob/master/Structural/2D/Footings%20Preliminary.dwg) is your preliminary plan. Correct?

Possible for you to commit it as a PDF?  I will share this with the GC.  _Obviously, i could make the PDF from your DWG, but i'd rather you do it, just so it's represented the way you intend._

Also, I might be missing something,

[2015-04-20 19:42] bausk commented on #13
@theoryshaw @stevenuecke Hi guys, please see the recent output commit on footing calcs:
df8bc83cb81ba92f790fb892eb0ea22da100fad1

This is a deliverable for quick review. The actual analysis files are in this recent commit:
8a50f4ba1463dfe9b7601892fea3dc38ef59269a

Steve, please review these two files:
https://github.com/OpeningDesign/Sports_Complex/blob/master/Structural/2D/Footings%20Preliminary.

[2015-04-20 19:44] bausk commented on #17
Ryan, that's my preliminary plan that I use as a data input for the Excel calcs. I would very much like to include it in the architectural model in 3D. Is it possible for me to try to edit the RVT directly?

[2015-04-20 19:46] bausk commented on #17
I model the footings in AutoCAD but that is purely for the utility in getting the dimensions into Excel automatically. I unfortunately do not have any decent tool to export structural elements as IFC. I could edit them into the RVT model though, as I said in the previous comment.

[2015-04-20 19:57] bausk opened #21 "Note on structural footing calcs"
@stevenuecke @theoryshaw Hi, I'd like to detail on the current approach to calculations in a separate discussion (and probably write an apology about what exactly took so long to complete : )

The "source of truth" for calculations is currently the two files: the 2D DWG with the block instances representing footings and the calculations in XLSX format.

The insteresting part about them is that the

[2015-04-21 02:46] dimven commented on #18
I've made some partial progress. The last api hack was limited to just reading the material parameter. So I tried a new approach and now I can extract the extrusion object from inside the MIP and manipulate it directly. However a similar approach fails for "Import Symbol" objects because they don't have any material settings.

https://youtu.be/X-SF1M1xV9w

I'm not quite sure why the change in mate

[2015-04-21 12:03] theoryshaw commented on #18
Hi @dimven, you don't necessarily have to worry about accommodating 'import symbols' because for the ultimate rountrip workflow we'll eliminate all of those--they'll be editable extrusions. (just haven't fixed those yet)

[2015-04-21 13:35] theoryshaw commented on #13
@bausk sounds good.  I'll ping Foremost for the latest reactions.

I'm assuming you'll need reactions along gridlines (1) and (H) correct?... and the mezzanine footings (per issue #20) along gridlines (13) and (14), correct?

Thanks.

[2015-04-21 13:58] theoryshaw commented on #17
Hi @bausk Yes, I'd like you to edit/model directly in the RVT file, but we'll potentially run into problems where we're working on the same file, at the same time, and our commits will conflict.

If you have Revit, is it possible for you to create a STUCT revit file, where you'll do all your modeling/annotation, etc. and i'll just reference that into the ARCH revit file?

_In the long run, i'd lik

[2015-04-21 14:05] theoryshaw commented on #21
Seems awesome to me. In general, I would defer to you (and Steve) on this workflow.

[2015-04-21 14:29] theoryshaw commented on #13
@kraut34 [Here's](https://github.com/OpeningDesign/Sports_Complex/blob/df8bc83cb81ba92f790fb892eb0ea22da100fad1/Structural/Outputs%20-%202015-04-20%20Main%20building%20footings/Main%20Building%20-%20Sports_Complex_Structural_2D_Footings%20Preliminary%20Layout1%20%281%29.pdf) Alex's preliminary plan.

click on 'raw' to download.

Obviously it's very preliminary and lacks designations of which footi

[2015-04-21 16:23] kraut34 commented on #13
Hey Ryan,

Sorry to say, but this does not give me enough information to come up with
any pricing.  It obviously lacks key information such as: 1) rebar - rebar
will be a huge cost for the foundation.  2) frost walls - not that big of a
deal because I can get that fairly close, however, am I to assume that all
the single story will be supported by frost walls only.  I don't know that
answer to tha

[2015-04-21 16:50] theoryshaw commented on #13
Our assumptions on what defines a 'preliminary plan' were not aligned.

As @stevenuecke hinted [here](https://github.com/OpeningDesign/Sports_Complex/issues/17#issuecomment-90251597) the time frame was accelerated in his opinion.

For all parties, let's move forward knowing this work is top priority.

Toby, please ping Foremost for updated column reactions for the entire building.

I can't speak f

[2015-04-21 23:42] bausk commented on #13
I will be able to update the plan with rebar for all footings and piers tomorrow at latest, that won't be a problem anymore. As for frost wall, unfortunately I'll have to look through the codes to see if it is quickly doable so the answer on when that will be available will be tomorrow as well, really sorry for that.

-----Original Message-----
From: "Ryan Schultz" notifications@github.com
Sent: ‎

[2015-04-21 23:44] bausk commented on #17
Ok, I'll do the rebar for cost estimate first since it's priority and then will model the corresponding 3d.

-----Original Message-----
From: "Ryan Schultz" notifications@github.com
Sent: ‎4/‎21/‎2015 4:58 PM
To: "OpeningDesign/Sports_Complex" Sports_Complex@noreply.github.com
Cc: "bausk" bauskas@gmail.com
Subject: Re: [Sports_Complex] Structural Foundation Plan (#17)

Hi @bausk Yes, I'd like you

[2015-04-23 12:16] theoryshaw commented on #18
Hi @dimven Thought i'd share this: http://thebuildingcoder.typepad.com/blog/2015/04/whats-new-in-the-revit-2016-api.html

Probably some nice nuggets in there you could potentially use. :)

How's it going otherwise?

[2015-04-23 14:50] theoryshaw commented on #16
@AnisGitHub

[Here's](https://github.com/OpeningDesign/Sports_Complex/blob/master/Research%20and%20Info/Wall%20and%20Roof%20Assemblies.md) an initial stab at outlining wall/roof assemblies.

Here's the speced RTUs...
https://www.dropbox.com/sh/bhn0rn35bveece0/AABhQ-tK129yz2mkueQ4NeLRa?dl=0

See the latest [PDF](https://github.com/OpeningDesign/Sports_Complex/blob/b1de8accff93652b2aea333b23bfd11efd

[2015-04-24 18:31] stevenuecke commented on #13
Just to keep everyone updated - I am currently reviewing the foundation calculations.

[2015-04-24 22:32] kraut34 commented on #13
I have scheduled a meeting with the excavators for Monday afternoon.
Please put your best effort into getting me a foundation plan that I can
share with them in hopes of getting accurate bid numbers.

Thanks,

Toby Krause
Krause Custom Builders
920-285-6490

On Fri, Apr 24, 2015 at 1:31 PM, Steven Uecke notifications@github.com
wrote:

[2015-04-27 07:48] bausk commented on #13
@kraut34 Hang on, I am going to commit the updated plan Monday morning. You will have the rebar information as well as the frost walls.

@stevenuecke @theoryshaw To proceed from the preliminary phase, I will need Steve's comments, updated reactions and information on the 1st floor walls -- whether they are supported by the columns in any way, and what the gravity loads are from different walls. I

[2015-04-27 10:48] dimven commented on #18
@theoryshaw , I had a thorough look through the new changes in 2016. It has a lot of cool new features but nothing stood out to me that could be helpful for our particular case.

MIPs just aren't supported by the API yet and every operation performed on them has to be through an undocumented hack. Therefore process has been quite slow.
![2015-04-27_09-27-54](https://cloud.githubusercontent.com/ass

[2015-04-27 15:23] theoryshaw commented on #16
Hey @AnisGitHub just checking in on the status of things. We need to start wrapping things up here shortly. Thanks.

[2015-04-27 15:41] AnisGitHub commented on #16
Hi @theoryshaw I am finalizing the model and will let you know as soon as I am done. Can we set a meeting first thing tomorrow morning ? I hope that works.
Thank you,

[2015-04-27 16:17] theoryshaw commented on #18
Hi @dimven sounds good, although this is pushing outside my bounds of experience.

Once you're able to pull that material data out, will the annotation part be relatively straight forward?

Thanks.

[2015-04-27 16:45] theoryshaw commented on #16
Thanks Anis, yes, let's do 7:30cst tomorrow, if you can.

I'm traveling at the moment and won't have screensharing.  If you can, please commit any documents you'd like to review over the phone. Thx.

[2015-04-27 18:34] bausk commented on #13
@kraut34 Here's the commit of the rebar results:
d993df2045262e5d8a1532d7ab198dc4dcb0b2e2

You want to look at the "Results" sheet, which has data on concrete volume and rebar length, size and quantity.

Furthermore, please look at the updated DWG:
a6579ae8e487096471aca80230377b720c92584c
Footings-Preliminary.dwg

It currently has updated PRELIMINARY foundations (spread footings) and frost walls.

[2015-04-27 20:07] theoryshaw commented on #13
@bausk As before, can you commit PDFs of your work?  @kraut34 does not have the means to open DWGS.  Probably good to submit your rebar results as pdfs as well.

Thanks.

[2015-04-27 20:21] bausk commented on #13
@kraut34 @theoryshaw Ok - please see commit
114cf70851db4d72066975b483994b6325a19a54

On Mon, Apr 27, 2015 at 11:07 PM, Ryan Schultz notifications@github.com
wrote:

##

Alexander Bausk
IT Analyst, Structural engineer
MSc Structural engineering, Ph.C. Engineering
Professional blog at http://writandraw.org

[2015-04-27 22:38] theoryshaw commented on #13
@bausk your PDF doesn't show the footings along gridline 'H'.

Curious why you didn't put a frost wall along gridline 'B'?  That's an exterior wall.

Don't think it necessary for a frostwall along gridline '2' btweeen 'B' and 'G', since this is interior space.

I'm thinking, but would like @stevenuecke confirmation here, that the frost wall would only need to be 8" thick (perhaps even 6"?).

Draft

[2015-04-28 21:59] stevenuecke commented on #13
I'm still reviewing the CAD, but the calculations seem to be in order. The sliding and overturning are often a major factor in pre-engineered buildings, so I can see that this is controlling on a number of them, as you mentioned @bausk . One question I did have is on MB-A, MB-C, MB-D, it looks like the length of the footing could be a couple feet less than what you have - is there a reason for the

[2015-04-28 22:03] stevenuecke commented on #13
@theoryshaw @bausk Yes, the frost wall is typically 8", unless there is something that sits on it that dictates a wider value. I am still reviewing the CAD, but typically we just put frost walls along the exterior, then wing walls at any stoops, or maybe a full frost wall around the stoops - just depends. At interior walls, typically we go with a thickened slab, depending on the loads. If it is ca

[2015-04-29 13:27] dimven commented on #18
The material isn't the most crucial point of our work flow, I just wanted to get it out of the way. I have an idea for transferring all the parameter data over to the MIP components that I will explore this long weekend. I'll keep you updated once I make any progress.

[2015-04-30 10:17] dimven commented on #18
A very interesting link:
http://collectivebim.com/dynamo-solibri-using-ifc-via-anvil-xbim/

[2015-04-30 13:21] theoryshaw commented on #18
for sure... thanks for sharing.  Exciting days.

[2015-04-30 13:23] theoryshaw commented on #16
Hi Anis, got your voicemail.

My phone's on the fritz.  Going to get a new one this morning.  Let's get together this afternoon, if that works for you.
Thanks.

[2015-04-30 13:31] theoryshaw commented on #13
Hey guys, here's the latest anchor bolt design and reactions from Foremost...
`Closed\Transfer\20150429 - preliminary reactions and anchor bolt design`

[2015-04-30 13:57] AnisGitHub commented on #16
Sure @theoryshaw . I am available later this afternoon say 5:00 pm EST. Will you be able to share/see screen? We will make it work.

Thanks!

[2015-04-30 14:49] theoryshaw commented on #16
yep, 5:00 pm EST today works.

Let's use...
Phone: 302.202.5900
screensharing: https://join.me/ryanschultz

thanks.

[2015-05-05 10:40] dimven commented on #18
Parameter extraction from the IFC file is ready:
https://youtu.be/wpfqYA9UF1I

I start off by setting the default template to the one you uploaded.
1) Open the IFC file.
2) The script will silently link the same ifc in "reference" mode. (that preserves the parameter information but converts the elements to simple DirectShape objects and thus makes them un-editable.)
3)  The linking process has two

[2015-05-06 20:16] theoryshaw opened #22 "Mezz. bay spacing."
@stevenuecke @bausk @alexcalixto

Hey Guys, fyi, had a meeting with Foremost.  We're going to keep the bay spacing for the mezz. the same as what's in the ARCH model:

Like this...

![screenhunter_275 may 06 15 13](https://cloud.githubusercontent.com/assets/507113/7502556/6f340570-f402-11e4-8df5-6fafc4074b08.jpg)

[2015-05-07 15:10] theoryshaw commented on #18
Hi @dimven

Sorry for the delay, have been buried.

This looks good.

There's a couple things i'd like to hash out and discuss.  Too nuanced for github discussion.

Would it be possible for us to schedule a conf. call?

Phone: 302.202.5900
screensharing: https://join.me/ryanschultz

I'm fairly open, mornings, my time, work better.

@yorikvanhavre Please let us know if you'd like to join as well.

[2015-05-07 16:13] yorikvanhavre commented on #18
Yes! (For me skype/hangout will work better than phone, though). Anytime is good for me (I'm on GMT-3)

[2015-05-07 16:19] theoryshaw commented on #18
cool. Yorik, once you go to https://join.me/ryanschultz there's an option to have it call you via a VOIP, no phone number necessary.

[2015-05-07 18:54] yorikvanhavre commented on #18
you're good at finding these cool apps :)

[2015-05-07 19:44] theoryshaw commented on #18
we'll see how cool it is after testing the limits of this São Paulo, Singapore, Wisconsin stream. :)

I'm at GMT-5

[2015-05-08 03:53] dimven commented on #18
What's the best middle ground between GMT -5, -3 and +8 during this weekend? :)

[2015-05-08 14:12] theoryshaw commented on #18
cool, i shot out a time tomorrow via Google calender, also can do same time sunday too, if that works better. Cheers.

[2015-05-08 14:31] yorikvanhavre commented on #18
Okay for me both days

[2015-05-08 15:23] dimven commented on #18
I'd prefer if we could push it to Sunday, same time ?
 On May 8, 2015 10:31 PM, "Yorik van Havre" notifications@github.com
wrote:

[2015-05-08 15:50] theoryshaw commented on #18
np... yes, 8pm on a saturday night in Singapore would be pretty rough.  That's well into cocktail hour. :)

[2015-05-08 19:17] alexcalixto opened #23 "Footing Drawings for the Main Building Only"
Hello @theoryshaw
@stevenuecke

I noticed the footing drawings we have only show footings for the Main Building. Is there any drawings showing the footings for the Clinic and Fitness Center areas?

If not, will the pre-engineered personnel be providing those as well?

Thanks,
Alex Calixto

[2015-05-08 19:19] stevenuecke commented on #23
@theoryshaw Basically, he is referencing the anchor bolt drawings from the pre-engineered manufacturer. Are they doing the other 2 portions also?

[2015-05-08 19:22] theoryshaw commented on #23
Are you referencing the files here?...
`Closed\Transfer\20150429 - preliminary reactions and anchor bolt design`

there's anchor bolts layouts for all the buildings.

[2015-05-08 19:40] alexcalixto commented on #23
Sorry for the confusion. Yes I see that the bolt design sheets do have all the buildings.

[2015-05-08 19:41] #23 closed, assigned to nobody

[2015-05-11 14:13] theoryshaw opened #24 "Door Schedule"

[2015-05-11 14:14] theoryshaw opened #25 "Partition Schedule and Partition details"

[2015-05-11 14:15] theoryshaw opened #26 "Restrooms/Locker Room - Interior Elevations and details plans"

[2015-05-11 14:16] theoryshaw opened #27 "Life Safety Plan"

[2015-05-11 14:16] theoryshaw opened #28 "Interior Elevations"

[2015-05-11 14:17] theoryshaw opened #29 "Exterior Construction Details - Large Scale (1 1/2" and 3" Scale)"

[2015-05-11 14:20] theoryshaw opened #30 "Building Sections (1/16" scale)"

[2015-05-11 14:21] theoryshaw opened #31 "Wall Sections (3/4" scale)"

[2015-05-11 14:26] theoryshaw opened #32 "Reflected Ceiling Plan"
coordinate with http://jeffersoncurrentelectric.com/ lighting plan and http://lakecountryhvac.com/ HVAC plan.

[2015-05-11 14:44] theoryshaw opened #33 "Floor Finish Plan"

[2015-05-11 14:48] theoryshaw opened #34 "Interior Construction Details - Large Scale (1 1/2" and 3" Scale)"

[2015-05-11 15:07] theoryshaw opened #35 "Interior Door Details"

[2015-05-11 16:37] theoryshaw opened #36 "site lighting (parking) detail"

[2015-05-11 16:40] theoryshaw opened #37 "Door and frame type elevations"

[2015-05-11 19:41] theoryshaw commented on #26
Hi @yorikvanhavre Just wanted to check in and see if you would still want to take on this scope of work?  Let me know if interested or have time in the next couple weeks.  Would like to submit for Permit in 3 weeks.

Thanks Much, Ryan

[2015-05-11 21:38] yorikvanhavre commented on #26
Hi Ryan,
I'm sorry, I forgot a bit about this... The next 2 weeks will be fairly busy for me, and I'll be out of office the last week of the month... Would you be able to start working on it? I can catch up and help on the way if needed.

[2015-05-11 22:14] theoryshaw commented on #26
No worries! That's why I asked.  Figured you were getting busy.  I'll make it work. Thanks.

[2015-05-13 14:56] theoryshaw opened #38 "Insulation Requirments"
Hi @AnisGitHub

Was wondering if you could weigh in on my interpretation of building envelop insulation requirements.

Per the mandating code [here](http://publicecodes.cyberregs.com/icod/iecc/2009/icod_iecc_2009_5_sec002.htm), for 'Metal Buidings' are we required to have continuous insulation at the walls?

Or could can you do without continuous insulation as long as you are satisfying the 'U-fac

[2015-05-13 22:35] theoryshaw opened #39 "Foundation Plan for Pricing"
Toby, @kraut34

Here's [ntrive's](http://ntrive.com/) foundation plan for pricing...
https://www.dropbox.com/s/dal7lk8uvum6cz7/Foundation%20Layout.pdf?dl=0

Let us know if you have any questions.

Thanks, Ryan

ping: @alexcalixto @stevenuecke @bausk

[2015-05-14 02:45] dottkamm commented on #37
I could take a stab at these if you'd like. Let me know where to retrieve the latest model. Thanks.

[2015-05-15 03:04] dottkamm commented on #37
From the model it looks like  you have 3 main types of doors. Storefront with full lite, single flush solid office doors with wood or hollow metal frames, hollow metal frame with full lite door near wrestling, and a double solid HM exterior door with painted HM frame.  Do the office doors want to be Hollow metal frames or wood frames?

Will the interior glazing match the aluminum storefront on the

[2015-05-15 12:34] theoryshaw commented on #37
hey @dottkamm

Interior storefront will be different: single glazed.
Although a work in progress, see my evolving detail file here: https://github.com/OpeningDesign/Sports_Complex/blob/master/IFC%20Roundtrip/FreeCAD%20Detail/detail_Ryan.rvt

offices to be hollow metal frame.

Offices near wrestling, i think we should do storefront door with adjacent windows... similar to the glazing wall between t

[2015-05-16 22:19] dottkamm commented on #37
I started a Sheet of Frame Elevations and a preliminary door schedule in the model and committed them to the Model folder. Hopefully I did it correctly.

[2015-05-17 12:54] theoryshaw commented on #37
Yep, file came through.  Great start!

[2015-05-19 01:14] theoryshaw commented on #38
Hi @AnisGitHub, were you able to render an opinion on this?  If not, know anyone that would? Thanks Much.

[2015-05-19 01:25] AnisGitHub commented on #38
@theoryshaw  according to Section : 502.1.2 U-factor alternative, an assembly with a U-factor equal or less than that specified in Table 502.1.2 shall be permitted as an alternative to the R-value in Table 502.2(1). So to answer your questions, we can show compliance based only on the U-Factor alone. However, it recommended to have continuous insulation and eliminate any cold-bridges.

[2015-05-19 18:42] theoryshaw opened #40 "Help sizing and verifying the structural components of the (3) various enclosure assemblies"
Hi @stevenuecke / @andyeck1, (ping @kraut34)

Was wondering if you could help sizing and verifying the structural components of the (3) various enclosure assemblies for this sports complex.
- Here are the latest Drawings
  - Latest PDF 20% CD set [here](https://github.com/OpeningDesign/Sports_Complex/blob/febf848a599b140ff9d25d62ce7616b7355b0089/Transfer/20150519%20-%20preliminary%20ARCH%20details

[2015-05-20 15:52] dimven commented on #18
Our last discussion was extremely helpful and helped me set goals better aligned with your expectations.
Placing tags coherently seems to be a lot harder than I originally thought :)
I've finally sketched out a rough work flow that manages to accomplish something decent. The graph builds up on my previous work for extracting parameters. This graph is targeted for Dynamo 0.75(and the 0.76 dailies),

[2015-05-20 21:21] yorikvanhavre commented on #18
Wow, very nice!

[2015-05-21 13:59] theoryshaw commented on #18
Agreed, very nice!  Let me play around with it and get back to you with comments. Thanks!

[2015-05-21 17:24] theoryshaw commented on #39
Gentlemen (@stevenuecke @alexcalixto @andyeck1),
(cc @bausk, @kraut34)

[Here's](https://github.com/OpeningDesign/Sports_Complex/blob/05555d575bd049996b1fb64475a637ec184f2073/Transfer/20150521%20-%20foundation%20questions%20%26%20comments/20150521%20-%20XSC%20-%20foundation%20questions%20%26%20comments.pdf) a few comments on your pricing foundation plan.  (click on the 'Raw' button to download)

A

[2015-05-28 13:31] smilliecraig commented on #39
Ryan
why are the footings down 3''2 not 4'? And why are we dropping all the walls so we have to ring everything for slab? I think all walls should be 3' at least.

[2015-05-28 13:44] theoryshaw commented on #39
Hey Craig, did you see the comments on this PDF:
https://github.com/OpeningDesign/Sports_Complex/blob/05555d575bd049996b1fb64475a637ec184f2073/Transfer/20150521%20-%20foundation%20questions%20%26%20comments/20150521%20-%20XSC%20-%20foundation%20questions%20%26%20comments.pdf

Click on 'Raw' to download.

Per those comments, which ntrive acknowledged and will pick up, the exterior footing will go d

[2015-05-28 14:02] smilliecraig commented on #39
On the none future we could pour wall at 100 and drop piers 8 inchs.  Why do we need a slab over hang?

[2015-05-28 14:20] theoryshaw commented on #39
We're removing the slab overhang, it will look like the red section sketch on the left below...

![image](https://cloud.githubusercontent.com/assets/507113/7862303/9c8f9cc2-051a-11e5-9511-9763bd419350.png)

[2015-05-28 14:24] smilliecraig commented on #39
Is there a reason why we have to cap the wall?

[2015-05-28 14:33] theoryshaw commented on #39
I see what your saying.  I would like @andyeck1 to chime in here, but i believe there will be rebar (24"X24", #4 REBAR @ 24" O.C.) from the frost wall into the slab.

Craig, Let me know if you have another approach that would accommodate this rebar.

Thanks.

[2015-05-28 15:27] smilliecraig commented on #39
Call me at 920 988 6372

[2015-05-28 15:43] theoryshaw commented on #39
Gentlemen... @andyeck1, @kraut34, @smilliecraig

If possible, let's have a conference call today at 2pm:
Phone: 302.202.5900
Conference ID: 796-554-157

Let me know if that works for everyone.
Thanks

[2015-05-28 16:15] theoryshaw opened #41 "Sizing overhang structural members..."
Hi @andyeck1 (ping @kraut34)

Could use your guy's help on sizing (on center spacing, etc.) the structural members for the overhangs in the sports complex.

There's two overhang distances.  7ft at the entrances and 5ft for the other locations shown below...
![image](https://cloud.githubusercontent.com/assets/507113/7863452/1b3cb652-0522-11e5-9797-629c00e5c7e3.png)

We would like to use 16ft long r

[2015-06-01 16:04] theoryshaw opened #42 "Vapor barrier under slab"
@kraut34,

Can you please share the flooring specs for the basketball court and turf area?

We will use these to determine vapor barrier approach.

Without seeing the specs and assuming the flooring has no excessive vapor barrier requirements, I would recommend (and i'd like @andyeck1 to verify this approach), that the floor composition be in the following order...
- concrete slab
- 3" sand *(to h

[2015-06-01 16:08] #22 closed, assigned to nobody

[2015-06-01 16:08] #20 closed, assigned to nobody

[2015-06-01 16:08] #14 closed, assigned to nobody

[2015-06-02 16:49] theoryshaw commented on #26
Hi @bdmock

As we discussed, was finally able to separate out the Restrooms and Locker rooms.

The file is located here:
`Sports_Complex/Models/Proposal 2/Locker Rooms and Restrooms.rvt`

You can do all your Revit Views in this file--enlarged plans, elevations, sections, etc.
- Floors
  - the floors will most likely be stained/sealed concrete slab.
    - the floor along the locker room area could

[2015-06-02 21:31] andyeck1 commented on #42
@theoryshaw
The current recommendation from American Concrete Institute (ACI) 302 for all slabs would be to place the concrete directly on top of the 10 mil polyethylene vapor retarder.  The floor slab should bear on top of a 6" to 8" thick well compacted gravel subbase (the geotechnical engineer's report recommends 6").  The use of a layer between the slab and vapor retarder is not recommended be

[2015-06-02 22:42] andyeck1 commented on #41
@theoryshaw ,
We have sized a 4"x6" Northern White Cedar (No 2 or better) @ 24" oc to work for your condition.  The supporting members can be W12x19 at the exterior end and W8x15 on the interior.  Do you have any additional info on the c furring?

[2015-06-03 14:41] theoryshaw commented on #42
Thanks much, Andy, for the breakdown.  I too have run across these debates as well.

@kraut34/@smilliecraig,

Unless there's any objections, let's use Andy's recommendations _"to place the concrete directly on top of the 10 mil polyethylene vapor retarder. The floor slab should bear on top of a 6" to 8" thick well compacted gravel subbase (the geotechnical engineer's report recommends 6")."_

Than

[2015-06-03 15:22] theoryshaw commented on #41
Thanks Andy,

Thinking of 8ft long galvanized box channel, something like this...
http://www.johnsonrollforming.com/pdf/CC-1002.pdf

...with the legs turned up.

Drainage would happen at the ends.

![2015-06-03 10 18 19](https://cloud.githubusercontent.com/assets/507113/7963792/24d4c972-09da-11e5-8bd0-5bc8ffab5248.jpg)

@kraut34, let me know if you have other thoughts.

Thanks, Ryan

[2015-06-03 18:17] kraut34 commented on #41
I think you need to have the box channel on its side (opening facing down
the roof), so the standing seam has something to attach to.

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Jun 3, 2015 at 10:22 AM, Ryan Schultz notifications@github.com
wrote:

[2015-06-03 20:48] theoryshaw opened #43 "Location of Edge of Slab..."
Hi @andyeck1

Thanks for the phone chat.

Instead of 12", let's go with...

![image](https://cloud.githubusercontent.com/assets/507113/7970955/1f0f412a-0a07-11e5-8f64-ec2329e170c1.png)

I've modified the ARCH model here...
`Sports_Complex/Models/Proposal 2/Xcel_Sports Complex.rvt`

Also, here's the location of the detail file I was talking about...
`Sports_Complex/IFC Roundtrip/FreeCAD Detail/deta

[2015-06-03 21:05] theoryshaw commented on #41
How about something like this...
http://www.johnsonrollforming.com/pdf/SSSQR-01.pdf

w/ seam facing up.

Just would like to avoid seeing edge, for aesthetics and cleanliness (birds, etc) sake.

Thanks.

[2015-06-03 21:07] #13 closed, assigned to stevenuecke

[2015-06-03 21:07] #16 closed, assigned to nobody

[2015-06-03 21:35] andyeck1 commented on #43
@theoryshaw,
Regarding the section in detail_Ryan, are you concerned that grade will settle and expose the insulation?

Do you want the slab to run over the top of the foundation wall at the girt/metal panel sections?
@alexcalixto

[2015-06-03 21:39] andyeck1 commented on #43
@alexcalixto - see the above

[2015-06-03 21:42] andyeck1 commented on #43
@theoryshaw ,
I have reviewed the sections above.  We can change the slab to run over the top of the foundation.

Are you concerned that the soil will settle and the insulation will be exposed?

@alexcalixto

[2015-06-03 21:49] theoryshaw commented on #43
Was planning to introduce galvanized brake metal that will overlap the insulation a certain dimension to cover the insulation...

![image](https://cloud.githubusercontent.com/assets/507113/7972188/186a22d2-0a10-11e5-9ab4-27a8c3b7bc7e.png)

will address slab 'overhang' in another issue...

[2015-06-03 21:57] andyeck1 commented on #43
@theoryshaw
Just to be clear, I am not saying we have a slab overhang.  I am saying that we can change the foundation detailing to have the slab can run over the top of the foundation wall.

[2015-06-03 22:14] theoryshaw opened #44 "Slab edge condition..."
Gentlemen ( @andyeck1, @alexcalixto, @kraut34, @smilliecraig)

How would we like to detail out the slab edge at the frost wall?

It sounds at though @smilliecraig would like to pour the frost wall up to 100 to help with finishing.

The concerns i have with that are...
- since there are a number of rooms that will have stained/sealed concrete as 'the' finish in the room.  This 'seam' might be a pot

[2015-06-03 22:16] theoryshaw commented on #43
Nope, understand...

Just wanted to bring in others to finalize decision...

Created issue #44 to discuss.

Thanks.

[2015-06-03 22:35] andyeck1 commented on #44
@theoryshaw, @alexcalixto
At the girt/metal panel sections, we would recommend using the first detail above (slab stopping short) because the girt can hide the joint and it creates a thermal break.  At the storefront, we would follow what you are showing or an alternate as below.

The slab should not have settlement issue if the subbase is properly prepared.
(for some reason, I couldn't get any of

[2015-06-04 12:42] theoryshaw commented on #44
@andyeck1, possible to go down to a 6" frost wall...

If so, we can do something like the following...

![2015-06-04 07 27 38](https://cloud.githubusercontent.com/assets/507113/7984168/9339fc86-0a8c-11e5-94fc-ddbeb511bb27.jpg)

Trying to avoid the cost associated with creating a 'shelf' in the frost wall.  A narrower frost wall would save costs as well.

If 8" is the minimum you would recommend, a

[2015-06-04 12:44] andyeck1 commented on #44
Ryan,
8" is the code required minimum.

Thank you,
Andy Eck
Ntrive
630-318-1725
Sent from my iPhone

[2015-06-04 13:50] theoryshaw commented on #44
Sounds good.  If there's no objections, let's do something like the following...

![2015-06-04 07 27 45](https://cloud.githubusercontent.com/assets/507113/7984171/9716ed3c-0a8c-11e5-9ef2-2105a650c7ff.jpg)

[2015-06-04 13:53] andyeck1 commented on #44
@theoryshaw
That works for me.  What about the detail at the girts/metal panel?  Should we provide a similar detail except the joint would be hidden by the wall system?
@alexcalixto

[2015-06-04 15:09] theoryshaw commented on #44
How about this?...

For metal panel condition...

![screenhunter_294 jun 04 09 50](https://cloud.githubusercontent.com/assets/507113/7987071/d801cdbc-0aa0-11e5-87ea-3defc96619e4.jpg)

This for those conditions where polycarbonate is adjacent to metal panel...

![screenhunter_293 jun 04 09 50](https://cloud.githubusercontent.com/assets/507113/7987069/d7ffd02a-0aa0-11e5-9b67-409065454c61.jpg)

Resin

[2015-06-04 15:24] kraut34 commented on #44
Hey Guys,

I just want to chime in on the frost wall thickness.  On our first go
around with this project we were told we didn't necessarily need a frost
wall at all.  We could do piers and a floating slab with a thickened grade
beam.  I am definitely not going down this road.  My point is that the
frost walls are not structural (correct?), so are we 100% sure we can not
go down to a 6" frost wall

[2015-06-04 15:28] kraut34 commented on #41
Ok.  Fastening to the rafters would be a little harder.  We would have to
have a long screw with a flat head and go through the entire box channel,
but I see what you are looking for.

Also, Is the reason we are stuck with rafters being 24" o.c. because the
snow loads would be too great if we spread them out more?

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Jun 3, 2015 at 4:05 PM, Ry

[2015-06-04 16:59] andyeck1 commented on #44
@theoryshaw , @kraut34 @alexcalixto

IBC 1805.2.1 dictates that permanent supports of buildings and structures shall be protected by one or more of the following methods:
1. extending below the frost line of the locality (noted in geotech report as 4'-0" below grade and this is the preferred method);
2. construction in accordance with ASCE 32; or
3 Erecting on solid rock.

The minimum foundation w

[2015-06-04 17:30] theoryshaw commented on #44
@andyeck1 Would it be worthwhile to explore the ASCE–32 exception here?....
http://hcinspection.com/ACE_Frost_Protection.pdf

[2015-06-04 17:44] kraut34 commented on #44
Would we consider the frost wall a "permanent support".  What will the
frost wall be supporting?

Toby Krause
Krause Custom Builders
920-285-6490

On Thu, Jun 4, 2015 at 11:59 AM, Andy Eck notifications@github.com wrote:

[2015-06-04 18:13] andyeck1 commented on #44
@theoryshaw
I have not incorporated that design before, but after a quick look, it appears that the foundations will have to be 24" deep to avoid wing insulation.  Also, in order to hold down some of the Pre-Engineered Building Columns, we designed the column footings at 4'-0" below grade to incorporate the soil load into our design.  The foundations would have to step up and down between the colu

[2015-06-04 18:16] kraut34 commented on #44
I would like to stick with 4' frost walls.  I would just like to do 6"
frost walls to save on money if that is a possibility.  I will call the
building inspector and ask.

Toby Krause
Krause Custom Builders
920-285-6490

On Thu, Jun 4, 2015 at 1:13 PM, Andy Eck notifications@github.com wrote:

[2015-06-04 18:25] kraut34 commented on #44
I talked to our building inspector.  He said it would be the state making
the call on the foundation thickness.  He felt we could possibly go down to
6" with more rebar, but that isn't going to save us any money.  He has
never seen 6" walls used in this application, so please move forward with
8" frost walls.

Toby Krause
Krause Custom Builders
920-285-6490

On Thu, Jun 4, 2015 at 1:13 PM, Andy Ec

[2015-06-04 18:57] andyeck1 commented on #44
Sounds good.
@KevinZinsmeister @avitro @alexcalixto

[2015-06-04 19:04] #44 closed, assigned to nobody

[2015-06-04 19:05] theoryshaw commented on #44
thanks gentlemen.

[2015-06-04 19:28] theoryshaw commented on #41
I'll let @andyeck1 answer the o.c. spacing.

[2015-06-04 21:53] theoryshaw commented on #44
Not to beat a dead horse, but wanted to share this link for the record nonetheless..
http://www.thebuildingcodeforum.com/forum/commercial-building-codes/16852-minimum-thickness-frost-wall.html

@kraut34, your call.

[2015-06-05 14:01] theoryshaw commented on #18
Thanks @dimven

Sorry for the delay.  Have been buried as of late.

Again, I think this is great and basically usable right now, however, here's a couple tweaks ordered from more to least important (as I perceive it anyway)....
- Have the script annotate a referenced IFC file verses the IFC file that is opened in Revit directly.
  - one of the reasons for this I can add dimension strings in the An

[2015-06-05 14:37] kraut34 commented on #44
With that blog, are you angling at ICF forms or a six inch thick frost wall?

I'm not interested in using ICF walls. however if you were looking at 6
inch frost walls I'm all for it if the state is ok with it
On Jun 4, 2015 4:53 PM, "Ryan Schultz" notifications@github.com wrote:

[2015-06-05 14:57] theoryshaw commented on #44
I just emailed the state and cc'ed you guys.

[2015-06-05 18:21] andyeck1 commented on #41
We have sized a 4"x6" Northern White Cedar (No 2 or better) @ 24" oc due to the wind loading.

@avitro

[2015-06-05 19:01] theoryshaw commented on #41
@andyeck1 can we get away with 16ft, 18ft or 20ft long 2x8's 24" oc?

Thanks, Ryan

[2015-06-05 19:08] andyeck1 commented on #41
I ran a quick number on it and I think it would have to be a 2x10 minimum to work at 24" oc.  A 2x8 might work at 16"oc.  Do you want us to check?
@avitro @KevinZinsmeister

[2015-06-05 19:17] theoryshaw commented on #41
Up to @kraut34

Toby, as we discussed, if we go with 2x construction we'll have to fire treat the lumber.

[2015-06-05 19:19] theoryshaw commented on #41
Also, another option to potential consider here, is exterior grade glulams... we could probably get a larger o.c. spacing.

We would not have to fire-treat gluelams if past a certain size ( i think 4x8).

Thanks Ryan

[2015-06-05 19:28] theoryshaw commented on #41
minimums for timber and glulams...
http://publicecodes.cyberregs.com/icod/ibc/2009/icod_ibc_2009_6_par006.htm

[2015-06-05 20:05] andyeck1 commented on #41
Engineered wood would be an alternative to glulams.  LVLs or PSLs

[2015-06-05 20:26] kraut34 commented on #41
I would be interested in glue lams. They might actually be cheaper than the
cedar. any chance we could we could get further spacing with the glue lams?
On Jun 5, 2015 3:05 PM, "Andy Eck" notifications@github.com wrote:

[2015-06-05 21:37] andyeck1 commented on #41
Yes, you can space glulams further.  Glulams are significantly stronger, but spacing will probably be limited to 4'-0".  What is the size of the c furring strip?

Thank you,
Andy Eck
Ntrive
630-318-1725
Sent from my iPhone

[2015-06-05 21:55] theoryshaw commented on #41
For glulams, how about looking at either...
- 3.5"x7.5"
- 5.125"x7.5"

(Try to shoot for 4ft o.c. - we can align with resin panel seams on the facade)

For purlins, let's look at [split-seam square tubing](http://www.johnsonrollforming.com/pdf/SSSQR-01.pdf) with either...
- 1" x 1"
- 1.5" x 1.5"

[2015-06-06 04:32] andyeck1 commented on #39
@theoryshaw
We posted the updated foundation progress set here:
https://www.dropbox.com/s/rv46bfslmgdlq6y/Sports%20Complex%20Foudation_15-06-05_Progress%20Set.pdf?dl=0

Please note that this is a progress set, but this should help for pricing..  There are a few known items that are not coordinated (for example, the piers details are not showing the adjoining foundation walls and the door detail is

[2015-06-08 13:29] andyeck1 commented on #41
@kraut34
We want to design the glulams using product that is available locally.  Who would you contact for local glulam supply?

[2015-06-08 14:14] andyeck1 commented on #39
A couple of observations on our progress set:
The frost wall/pier concrete strength is 4000 psi.
On S-100, delete CONCRETE note 17.
The slab on grade control joints spacing can be increased from 12'-0" oc to 18'-0" oc max.
On S-100, delete REINFORCING FOR CONCRETE note 6 and 9.

[2015-06-08 14:32] theoryshaw commented on #39
Thanks Andy, when you get a chance, can you push your Revit & PDF files to the github repo?  Thanks.

[2015-06-08 16:09] kraut34 commented on #41
I would suggest Probuild in Fort Atkinson.  Phone number is 920-563-8434.
Ask for Ryan Huber or Doug Green.

Toby Krause
Krause Custom Builders
920-285-6490

On Mon, Jun 8, 2015 at 8:29 AM, Andy Eck notifications@github.com wrote:

[2015-06-08 16:57] bdmock commented on #26
@theoryshaw, Couple questions.

One is about the slope of some walls in the revit model. Is this intentional

![lockeroom question 2](https://cloud.githubusercontent.com/assets/3970626/8040215/36526418-0dd4-11e5-82a3-3bb9513f11db.JPG)

The other is about elevations. Will you be wanting elevations for the water closets or is there going to be a set for restrooms and so should I just label the typic

[2015-06-08 17:53] theoryshaw commented on #26
Hi Bryan,

let's have a phone and screensharing chat this afternoon, if you can...

we can use..
Phone: 302.202.5900

I'm open all day. Let me know.

[2015-06-08 18:14] theoryshaw opened #45 "Foundation/Slab condition at doors..."
Hi @andyeck1,

Thanks for your progress set, issued [here](https://github.com/OpeningDesign/Sports_Complex/issues/39#issuecomment-109520054)

Only had one question illustrated below...

![image](https://cloud.githubusercontent.com/assets/507113/8041700/be1d5b40-0ddf-11e5-9bb3-dced3404904f.png)

[2015-06-08 18:15] theoryshaw commented on #39
Thanks @andyeck1.  Having reviewed your progress set, things are looking good.

Only had a quick question.  Created a new issue here: #45

[2015-06-08 18:47] kraut34 commented on #39
I have not had a chance to look at the foundation plan, however, concrete
guy says there are no pier sizings yet. If this is the case can we at least
try to get close to finished sizes.
On Jun 8, 2015 1:15 PM, "Ryan Schultz" notifications@github.com wrote:

[2015-06-08 18:52] andyeck1 commented on #39
The pier schedule and plan details are on S-100.  The column locations have footing and pier tags that refer to the schedule.   Based on the preliminary reactions, we do not have piers at the interior column locations.  Please take a look and let me know if you have any questions.

Thank you,

Andy Eck, SE, PE

Ntrive – Structural Engineering

Office Number: 630-318-1725 x701

Mobile Number: 630-8

[2015-06-08 19:03] theoryshaw commented on #39
Noticed that dropbox link above was broken.

Here's ntrive's progress set [here](https://github.com/OpeningDesign/Sports_Complex/blob/a2bce7709a2cd59cb302a27be01fa9802c21bf5f/Transfer/20150608%20-%20structural%20progress%20set%20from%20ntrive/Sports%20Complex%20Foudation_15-06-05_Progress%20Set.pdf)

Click on 'Raw' button to download.

Thanks, Ryan

[2015-06-08 20:34] kraut34 commented on #39
Thanks Andy.

After looking at the plan, I noticed that the footings for the front walls
(single story walls) are larger than the footings for the large field house
walls.  At a quick glance that seems odd.  I would think the load on the
field house footing would be a lot larger.  Please let me know if I am
missing something.

Thanks,

Toby Krause
Krause Custom Builders
920-285-6490

On Mon, Jun 8

[2015-06-08 22:18] andyeck1 commented on #39
The footings are larger at those locations because there is not much vertical force and we used the footing size to resist overturning/sliding caused by the lateral force at the column base.  Please note that our approach to resisting the lateral force was to design the footings to resist all of the vertical and lateral load.

An alternate method would be to use hairpins into the slab.  This metho

[2015-06-08 22:26] theoryshaw opened #46 "State Submission Schedule"
@andyeck1,

Do you have an anticipated time frame that you'll have permit drawings?

We'll most likely entertain the ['Permission to Start' & 'Footing & Foundation Plans Only'](http://dsps.wi.gov/Documents/Industry%20Services/SBD-118.pdf) options for state review.

@Kraut34, per the following link (which gets updated regularly) the next available date for review  for _(4 COMMERCIAL BLDGS - STANDAR

[2015-06-08 22:29] kraut34 commented on #39
Thanks for your in depth explanation.  That makes sense.  Let's stick with
the current plan.
On Jun 8, 2015 5:19 PM, "Andy Eck" notifications@github.com wrote:

[2015-06-08 22:30] kraut34 commented on #46
Thanks Ryan.  We need to hit that June date for our foundation plan.
On Jun 8, 2015 5:26 PM, "Ryan Schultz" notifications@github.com wrote:

[2015-06-08 22:49] andyeck1 commented on #46
When are the final reactions going to be issued?

Thank you,
Andy Eck
Ntrive
630-318-1725
Sent from my iPhone

[2015-06-09 14:10] theoryshaw commented on #46
I know they're asking for resolution on #41 before they finalize their reactions.

[2015-06-09 14:30] theoryshaw commented on #39
Thank you Andy

[2015-06-09 14:30] #39 closed, assigned to nobody

[2015-06-09 14:30] #21 closed, assigned to bausk

[2015-06-09 14:35] theoryshaw commented on #41
Thanks Andy, I mentioned this on the phone, but wanted to log here, that those glulams should be exterior grade glulams.

[2015-06-09 21:50] andyeck1 commented on #41
@theoryshaw
We sized the glulams per the following:
7 1/2" x 5 1/2" members @ 4'-0" o.c. w/ 1.5" x 1.5" tubing at 4'-0" oc max.
will this be sufficient for the PEMB reactions?

@kraut34
FYI - the glulam strength that we used was Stress Class: 24F-E10 or 24F-V11

[2015-06-10 12:00] theoryshaw commented on #41
Thanks Andy, what glulam manufacturer did Probuild provide/stock?

Yes, i think this should be sufficient for finalizing their reactions.  I'll ping them to this discussion.

Thanks gentlemen.

[2015-06-10 12:29] andyeck1 commented on #41
Basically, they told us that they could get anything.

Thank you,
Andy Eck
Ntrive
630-318-1725
Sent from my iPhone

[2015-06-10 13:57] bdmock commented on #26
Is the floor that is in the master file the finish surface? I'm specifically wondering for the locker room section that is to be sealed concrete slab. Is the floor in the master file going to be topped with a concrete layer?
![floor](https://cloud.githubusercontent.com/assets/3970626/8084099/c34638e2-0f4e-11e5-8770-71442bcb0e71.JPG)

[2015-06-10 14:37] theoryshaw commented on #26
Jump on, if you can...

I"m on now...

Phone: 302.202.5900
Conference ID: 796-554-157
screensharing: https://join.me/ryanschultz

[2015-06-10 14:54] theoryshaw commented on #26
Thanks for the chat.

FYI...

Here's some preliminary details of the exterior walls.  In particular there's one through the polycarboante that will apply to the locker room areas.

https://www.dropbox.com/s/ajhdon3ss1cofxh/20150610%20-%20XSC%20-%20preliminary%20details%20to%20Foremost.pdf?dl=0

[2015-06-10 15:09] theoryshaw opened #47 "Drains and sloping slab"
@andyeck1 (ping @kraut34, @bdmock)

I'm assuming we're sloping the slab for the shower drains.

I think (haven't done research yet) that we'll need drains in the mechanical rooms, and other restrooms.

Eitherway, @andyeck1 Can you reflect these in your foundation/slab drawings?

Thanks, Ryan

[2015-06-10 15:13] kraut34 commented on #47
We will be doing a trench drain for the showers, so all showers in each
bathroom will feed into the trench drain.

Yes.  We will need drains in both mechanical rooms
On Jun 10, 2015 10:09 AM, "Ryan Schultz" notifications@github.com wrote:

[2015-06-10 15:19] theoryshaw commented on #47
Okay, i pinged Pelican plumbing (cc'ed @kraut34) to give us a preliminary markedup plan.

Thanks.

[2015-06-10 15:45] andyeck1 commented on #47
@theoryshaw
yes, we can show a floor drain and sloping in the slab, but we will need the FD locations and slopes.

[2015-06-10 18:56] theoryshaw commented on #26
@bdmock Did you get pinged on the #47 issue?

Thanks.

[2015-06-11 16:17] bdmock commented on #26
I did.

[2015-06-12 14:39] theoryshaw commented on #40
Hi @andyeck1, i'd say this in next priority.
Thanks Much, Ryan

[2015-06-15 14:54] kraut34 commented on #40
Just a couple thoughts on the wall components.  I would like to use glass
rock if at all possible on the exterior portion of the resin panels.  Also,
after talking with Todd on the interior finishes, we want to use interior
resin panels instead of plywood.  Obviously we need to see if can span far
enough and remain rigid, or figure out a quick inexpensive way to block the
areas where it would be s

[2015-06-15 15:55] tfodden commented on #42
My experience says no to the sand cushion - that the slab is poured on top of the vapor barrier.  I will in fact be specifying a Class A 15 mil product.  Also, the concrete used at the slabs should have a maximum W/C ratio of 0.45.  That will be in the concrete spec.  Thanks!

[2015-06-15 16:06] theoryshaw commented on #40
@andyeck1,

Had a chat with Toby, as he indicated, he'd like to explore using 'glass rock' on the exterior of  (1a - Resin Panel Wall) assembly.  Would this be doable without vertical blocking between hort. girts if we engaged the exterior C channels for wind loading?

~~Also, as indicated, they are looking to use [Stonewood™ Interior Architectural Panels ](http://stonewoodpanels.com/images/pdf/Pr

[2015-06-15 16:17] theoryshaw commented on #40
@andyeck1

Strike the request to explore using the resin panels on the interior.  Too expensive.

Would still, however, like to explore 'glass rock' on the exterior.

Thanks, Ryan

[2015-06-15 16:21] theoryshaw commented on #42
Gentlemen, this is Tony Fodden of http://www.fodden.net/

He'll be helping us out on the technical/specification review and documentation.

Thanks Much, Ryan

[2015-06-15 16:30] andyeck1 commented on #42
@theoryshaw;
Is Tony writing specifications?  If so, when will they be available for review?  We need the drawings to match.
@tfodden
Please take a look at the general structural notes.  I will add the note for the maximum W/C for slabs of 0.45.
What advantages do you see for a 15 mil vs 10 mil vapor retarder?

[2015-06-15 16:35] theoryshaw commented on #42
Hi @andyeck1 Yes, he will.

[2015-06-15 16:42] theoryshaw commented on #42
We're working toward a ARCH permit set, 3 to 4 weeks out -- barring any design changes.

The 'Permission to Start' & 'Footing & Foundation Plans Only' set will most likely come before that. 2 weeks out, perhaps, if all are ducks are in a row.

See related #46 issue.

[2015-06-15 18:23] theoryshaw opened #48 "Interior Plywood Finish"
@tfodden (ping @kraut34)

Per [code](http://publicecodes.cyberregs.com/icod/ibc/2009/icod_ibc_2009_8_sec003.htm) the interior plywood (Grade B finish) in the corridors needs to have a Class 'B' flame spread.

Could you recommend a flame retarder application that would bring this plywood down to a Class B?
Are their applications where a finishing application (stain/polyurethane) and flame spread re

[2015-06-15 18:58] tfodden commented on #48
I have specified these three products in the past.  They are clear finishes, field applied.

TF

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Monday, June 15, 2015 1:24 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: [Sports_Complex] Interior Plywood Finish (#48)

@tfodden https://github.com/tfodden  (ping @kraut34 https://github.com/kraut34 )

Per code http://publicecodes.c

[2015-06-15 19:37] theoryshaw commented on #48
@tfodden Can you provide links to those products?  Attachments don't work with github issues.

Thanks.

[2015-06-15 19:38] theoryshaw commented on #48
or add those files to the 'open' dropbox folder...and refer to their location. Thx.

[2015-06-15 20:04] tfodden commented on #48
I can put them in the Open folder in Dropbox.  Which subfolder do you recommend my putting them in?

[2015-06-15 20:15] tfodden commented on #48
What would you say to my adding a new folder one of the dropbox folders that’s called Specifications.  In it could be 12 subfolders, each being a particular division of the project manual (concrete, steel, carpentry, etc).  Then I can start putting cut sheets and other information about products and materials in their respective subfolders.

TF

From: Ryan Schultz [mailto:notifications@github.com]

[2015-06-15 20:44] theoryshaw commented on #48
sounds good to me.  Please put in 'open' folder.   thanks.

[2015-06-15 21:01] tfodden commented on #48
Data Sheets for flame retardant clear finishes are here:

Dropbox\Open\Sports_Complex\Specifications\Division 09

TF

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Monday, June 15, 2015 2:39 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: Re: [Sports_Complex] Interior Plywood Finish (#48)

or add those files to the 'open' dropbox folder...and refer to their location. Thx.

—

[2015-06-15 22:08] theoryshaw opened #49 "Storefront Glazing - U- Factor, SHGC, VT"
Hi @AnisGitHub,
(ping @tfodden)

Using this markedup elevation [here](https://www.dropbox.com/s/n9wkne3evftbaw8/20150615%20-%20XSC%20-%20glazing.pdf?dl=0), I was wondering if you could help me determine the storefront glazing types (in terms of  U- Factor, SHGC, VT) of the various conditions around the building?

As you can see, I have the polycarbonate figured out based on the NFRC test they prov

[2015-06-16 00:09] bdmock commented on #26
Hey @theoryshaw

I've got the water closets and showers laid out for ADA. (Actually, I need to check the vertical bars).

I don't think the grab bars in non ADA showers are needed, but i have one along the back wall anyway.

In the ADA showers there needs to be a bar along the "back wall" which in this case is the polycarb wall. It looks like you've extended the solid wall into the shower areas. C

[2015-06-16 18:45] tfodden commented on #42
HI  @andyeck1 Sorry it took me this long to reply.  Just getting the hang of GitHub.  About 5 years ago all the better manufacturers of below-slab vapor barriers - and there are about 6 of them - just started making 15-mil barriers so the Industry association just decided to make 15 mil the new definition of Class A.  So just going with the industry recommendations I suppose.  It probably holds up

[2015-06-18 19:14] andyeck1 commented on #40
@theoryshaw
We designed the furring channels to support the exterior plywood and it can be either a 162S125-33 (1-5/8" C stud w/ 1.25 flange by 33 mils - no punchouts allowed) or a Dietrich Furring/Hat channel - 150F125-43 (1-1/2" furring channel by 18 ga ).

http://submittalpro.clarkdietrich.com/pdf_download/1731879547/CD_150F125-43.pdf

[2015-06-18 19:35] theoryshaw commented on #40
Thanks Andy.  By engaging these channels, can we use exterior Denslgass or similar?

https://www.dropbox.com/s/neg2c0bbfyd9vex/20150618%20-%20densglass%20on%20exterior.pdf?dl=0

Thanks.

[2015-06-18 20:08] theoryshaw commented on #40
@tfodden

[2015-06-18 21:56] tfodden commented on #40
Thanks Ryan.  What is glass rock?

[2015-06-18 22:08] theoryshaw commented on #40
Densglass material, basically.

[2015-06-20 16:26] tfodden opened #50 "Concrete & Structural Specifications"
I have uploaded some draft specifications that I would like Andy to review.  They are in Open\Sports_Complex\Specifications, Divisions 03, 05, 06, and 13.  Thanks, TF

[2015-06-24 14:40] theoryshaw commented on #50
Thanks Tony.

@andyeck1, as Tony indicated they are here...
https://github.com/OpeningDesign/Sports_Complex/tree/master/Specifications

Thanks, Ryan

[2015-06-24 22:20] andyeck1 commented on #50
Ryan,

It was my understanding that we would review the concrete and rough carpentry specification and that foremost would review the two steel specs.  Ifthis is incorrect, please let me know.

Thank you,

Andy Eck, SE, PE

Ntrive – Structural Engineering

Office Number: 630-318-1725 x701

Mobile Number: 630-886-4688

280 Shuman Blvd, Suite 270

Naperville, IL  60563

-Check out our website at:  h

[2015-06-25 15:24] theoryshaw commented on #50
Andy, yes, please only review those specs that are associated with your scope.

Thanks, Ryan

[2015-06-25 18:42] tfodden commented on #50
What is the scope of work for Structural, if you can describe that in 50 words or less?

[2015-06-25 19:49] theoryshaw commented on #50
Ntrive is helping us on on the design of the foundations and slab.  They are also helping out on a few miscelleous strctural issues thoughout--Glulam overhangs, etc.

http://www.foremostbuildings.com/ is taking on the lion's share of the steel structure.  Their scope also includes the metal panel wall assembly [(7.2 Panel)](http://www.mbci.com/products/roof/exposed-fastening-roof-panels/7-2-panel/

[2015-06-25 20:09] #45 closed, assigned to nobody

[2015-06-25 20:10] theoryshaw commented on #49
Thanks @AnisGitHub... this is what i sent to the mechanical sub:
https://github.com/OpeningDesign/Sports_Complex/blob/b7ebb4428c155649574f6150bf61b459a06b2631/Transfer/20150625%20-%20glazing%20types/20150625%20-%20XSC%20-%20glazing.pdf

[2015-06-25 20:10] #49 closed, assigned to nobody

[2015-06-25 20:11] #43 closed, assigned to nobody

[2015-06-25 20:11] #42 closed, assigned to nobody

[2015-06-25 20:12] #48 closed, assigned to nobody

[2015-06-25 20:28] tfodden commented on #50
Thanks.  It's the miscellaneous structural issues that I'm concerned about.  Those may need to be specified.  I assumed that they might include Cold-Formed Metal Framing and maybe even Structural Steel.  No?
TF

[2015-06-25 20:35] theoryshaw commented on #40
Hi @andyeck1

Did you find some resolution on the exterior sheathing approach for the resin panel wall?

Also could you help size the steel angle holding up the polycarbonate

1st Detail...
![image](https://cloud.githubusercontent.com/assets/507113/8364617/2a08d288-1b4d-11e5-9c4a-6bc7cbf02819.png)

Happens here...

![image](https://cloud.githubusercontent.com/assets/507113/8364924/461a0418-1b4f-11

[2015-06-25 20:39] kraut34 commented on #40
I had a question from Kurt Shiel at Jefferson Glass.  He was wondering if
the polycarbonate came all the way down to the metal roof on the field
house above the single story areas.  It couldn't tell from the print.

Toby Krause
Krause Custom Builders
920-285-6490

On Thu, Jun 25, 2015 at 3:35 PM, Ryan Schultz notifications@github.com
wrote:

[2015-06-25 20:42] theoryshaw commented on #40
no, it does this...

![image](https://cloud.githubusercontent.com/assets/507113/8365122/bb977152-1b50-11e5-9f1d-091a0176b49a.png)

[2015-06-25 20:51] theoryshaw commented on #50
issue #41 & issue #40 touch on what we are covering.  So yes, a little Cold-Formed Metal Framing and Structural Steel.

[2015-06-25 21:04] theoryshaw commented on #47
the approach for slopes in slab...

https://github.com/OpeningDesign/Sports_Complex/blob/master/Transfer/20150611%20-%20floor%20slopes/20150611%20-%20XSC%20-%20floor%20slopes%20.pdf

[2015-06-25 21:07] theoryshaw opened #51 "Footings and Foundation Plans for Permit"
Hi @andyeck1

A few redlines...
![image](https://cloud.githubusercontent.com/assets/507113/8365502/25d00244-1b53-11e5-9d8a-b2f61cdc5e9a.png)

Also, i'd like ntrive to take ownership of the Revit Slab object

Along with the slab offset, you guys can pick up the slopes as well--as addressed in issue #47.

I'll eventually delete the slab object in our ARCH model.

Thanks, Ryan

[2015-06-25 21:08] #38 closed, assigned to nobody

[2015-06-25 21:19] #19 closed, assigned to nobody

[2015-06-26 19:48] theoryshaw opened #52 "Resin Panel Wall"
Thanks @andyeck1, for the chat...

Here's how the composition of the Resin wall is shaping up...
- Wall assembly 1...
  - 1a - Resin Panel Wall
    - [Stonewood Exterior Resin Panels](http://stonewoodpanels.com/exterior-panels/specs) oriented vertically with 1/4" open joints
      - thickness options: 5/16”, 3/8”, 1/2”
    - 162S125-33 (1-5/8" C stud w/ 1.25 flange by 33 mils - no punchouts allowe

[2015-06-26 19:58] tfodden commented on #52
I’m not sure about the order of the air barrier and insulation.  Do we need mineral wool or could it be plastic (polyiso or polystyrene)?  If it needs to be in the order that you have it here, then we are looking at a sheet air barrier instead of a liquid-applied.  And I’m wondering about fastening it through the mineral wool.  I’ll send you some info on the product that I would recommend in that

[2015-06-26 22:01] theoryshaw commented on #52
Hi Tony, yes i think it can be extruded polystyrene if the exterior plywood is fire retardant.

[2015-06-26 22:02] theoryshaw commented on #52
Yes, please send along what you recommend in this situation. Perhaps put in the dropbox and provide a link here. thanks.

[2015-06-26 22:12] kraut34 commented on #52
Why does the exterior plywood need to be 7/8" thick?
On Jun 26, 2015 5:01 PM, "Ryan Schultz" notifications@github.com wrote:

[2015-06-26 22:31] andyeck1 commented on #52
The plywood would need to be 7/8” thick to span 4’-0”

Thank you,

Andy Eck, SE, PE

Ntrive – Structural Engineering

Office Number: 630-318-1725 x701

Mobile Number: 630-886-4688

280 Shuman Blvd, Suite 270

Naperville, IL  60563

-Check out our website at:  http://ntrive.com/ ntrive.com

From: kraut34 [mailto:notifications@github.com]
Sent: Friday, June 26, 2015 5:12 PM
To: OpeningDesign/Sports_

[2015-06-27 13:41] theoryshaw commented on #52
I know I asked this before, but just want to make sure.  Is it possible to engage those exterior C Channels in the following method, in order to lesson the thickness of that ext. plywood?...

https://www.dropbox.com/s/jqw01pc85xw379u/20150627%20-%20resin%20wall%20question.pdf?dl=0

[2015-06-27 13:48] kraut34 commented on #52
I don't see a problem with that.  Anything we can do to minimize the
thickness of the plywood would be great.

I terms of insulation, I think polystyrene is a lot more expensive than the
1st type you proposed.
On Jun 27, 2015 8:41 AM, "Ryan Schultz" notifications@github.com wrote:

[2015-07-01 13:23] theoryshaw opened #53 "Structure at Parapet..."
@andyeck1

Can you verify if the 1 5/8" C channels 24" o.c. will work at the parapet condition?

See the following detail...
https://www.dropbox.com/s/h3pedpcjcdu5mza/20150701%20-%20structure%20at%20parapet.pdf?dl=0

Thanks, Ryan

[2015-07-01 20:33] tfodden commented on #52
Stonewood recommends using Revealshield by Vaproshield (http://www.vaproshield.com/) as the air barrier.  I highly recommend this company.  However, Revealshield is black.  Are these resin panels at all translucent?
TF

[2015-07-01 20:36] kraut34 commented on #52
The panels are not translucent.  I think black is the way to go, so the
1/4" spacing has a black background.

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Jul 1, 2015 at 3:33 PM, tfodden notifications@github.com wrote:

[2015-07-02 15:32] KevinZinsmeister commented on #53
We can get the furring channel you are calling out to work @ 24" oc if the supporting girts are spaced @ 36" oc max.

[2015-07-02 18:32] theoryshaw commented on #53
Thanks Kevin...what section & gauge would we have to go up to maintain 4ft oc spacing for the horizontal girts?

[2015-07-02 18:48] KevinZinsmeister commented on #53
250S125-33 @ 24" can span 4'-0" at the parapet.  The 162S125-33 we checked before is the largest available 162S section, which is why we had to jump up to a 250S section.

[2015-07-02 22:07] tfodden commented on #52
Back to the Revealshield:  If we need our exterior cladding to meet NFPA 285, then we need to use Revealshield because that's the one that Stonewood has successfully tested with.  If we don't need to meet NFPA 285, then we can save some $$ by using Vaproshield's "Wrapshield".  And if we are going to use mineral wool, that's what you are going to see at the joints anyway, not the air barrier.

What

[2015-07-02 22:24] kraut34 commented on #52
I would think the vapor barrier has to be the outer most layer, so it
protects the mineral wool from weather and UV.  Joints are 1/4" and they
are fastened to galvanized c channels.

Toby Krause
Krause Custom Builders
920-285-6490

On Thu, Jul 2, 2015 at 5:07 PM, tfodden notifications@github.com wrote:

[2015-07-03 00:49] tfodden commented on #52
Actually, the mineral wool is fine with moisture.  That’s why they use it in curtainwall systems.  The air barrier needs a solid backing, so needs to go on the sheathing.  We’ll use a self-adhesive type – save on headaches.

But it occurs to me that the galvanized c channels will be visible since I’m sure they need to run through (past) the joints. Yes?

I’ll get some info on the mineral wool and

[2015-07-03 01:56] theoryshaw commented on #52
Hi @tfodden ....sorry, just back from family vacation.

Construction type is 2B.

Yes, you will see the vertical channels through the joint.

Tony, do you recommend mineral wool or polystyrene is this application?  If we go with mineral wool, can we achieve the necessary comprehensive strength, since we're fastening the channels through the insulation into the plywood and horizontal girts.

I need

[2015-07-03 15:18] theoryshaw commented on #53
Thanks Kevin.

[2015-07-03 15:18] #53 closed, assigned to nobody

[2015-07-03 15:55] tfodden commented on #52
Whether we can use polystyrene is going to depend on whether we need to meet NFPA 285.  I believe that if our exterior walls are under 40 feet high, we're exempt.  But I haven't looked to see how it's written in the latest IBC and I believe things have changed.

Do we need to carry the insulation behind the channels or can it be placed BETWEEN the channels?  Mineral wool will compress under the fa

[2015-07-03 16:42] tfodden opened #54 "Specifications Questions"

[2015-07-03 16:45] tfodden commented on #54
@theoryshaw:
Some code-related questions:
Is this building sprinklered?
Is any of the steel fireproofed?

Thanks,
TF

[2015-07-03 17:01] theoryshaw commented on #54
Hi Tony,

yes, will be fully sprinklered.

No, construction type is TYPE II-B--Unprotected Non-Combustible--that is, steel will be unprotected.

Thanks.

[2015-07-03 18:03] tfodden commented on #54
How do I create new subfolders under the "Specifications" Folder (Repository)?  I want to add a Division 00 and a Division 01.

[2015-07-06 16:28] tfodden commented on #54
Interior Plywood paneling - any particular species for the face veneer?  Rotary cut birch would be the lowest cost and the largest flitches.  It would also have the least figure (very subtle grain pattern and a nice light color).  If you want a little more grain pattern, then I would look at maple.  Thanks!

[2015-07-06 16:59] theoryshaw commented on #54
Tony, can you create another Github issue to discuss plywood?  I'll respond there. Thanks Much.

In general just create new github issues per topic, no matter how small.

[2015-07-06 17:00] theoryshaw commented on #54
If you can, can we chat today sometime?  Want to get your thoughts on Resin panel wall, as well as answer some of your github questions.

Phone: 302.202.5900
Conference ID: 796-554-157
screensharing: https://join.me/ryanschultz

[2015-07-06 17:07] tfodden opened #55 "Interior Plywood Paneling"
Interior Plywood paneling - any particular species for the face veneer? Rotary cut birch would be the lowest cost and the largest flitches. It would also have the least figure (very subtle grain pattern and a nice light color). If you want a little more grain pattern, then I would look at maple. Thanks!

[2015-07-06 17:08] tfodden commented on #54
Sure!  How about after lunch?  1:30?

[2015-07-06 17:26] tfodden commented on #52
Something I'd like you to consider in the cavity wall system.  If we use these (http://www.interra-facade.com/cascadia-clip) instead of the C-Channels, then we can break the insulation BETWEEN these carriers instead of running the insulation behind the carriers (and compressing it).  These clips do not conduct heat so no thermal bridging.

[2015-07-06 17:59] theoryshaw commented on #54
sounds good... talk then. Thanks

[2015-07-06 19:15] theoryshaw opened #56 "'Permission to Start' & 'Footing & Foundation Plans Only'"
Hi @andyeck1,

Let me know where you are at with your permit drawings.  Would like to finalize tomorrow (7/7).  Can you please electronic stamp your various sheets?

I'd like to review, if possible, before I submit them.

@tfodden Is picking up your specification markups.

Thanks Much, Ryan

[2015-07-06 19:42] andyeck1 commented on #56
Ryan,

Yes, we can do electronic stamping.

Yes, we can send you a set shortly.

Can you use the new logo (attached) in the title block?

Thank you,

Andy Eck, SE, PE

Ntrive – Structural Engineering

Office Number: 630-318-1725 x701

Mobile Number: 630-886-4688

280 Shuman Blvd, Suite 270

Naperville, IL  60563

-Check out our website at:  http://ntrive.com/ ntrive.com

From: Ryan Schultz [mailto

[2015-07-06 19:50] theoryshaw commented on #56
Cool.  Your attachment doesn't come through on this github issue.  Can you upload your logo to github, and i'll add it into the ARCH model, and in turn sync.

Thanks.

[2015-07-06 20:15] tfodden commented on #50
@andyeck1
Curious - do cement plants in Wisconsin not use fly ash?
Thanks,
TF

[2015-07-06 20:21] tfodden commented on #56
So this is for footing and foundation permit?  So do you only need the concrete section at this time?
TF

[2015-07-06 20:29] theoryshaw commented on #56
@tfodden Yes, I would imagine that's all they would be looking for.

[2015-07-06 20:38] andyeck1 commented on #50
Ryan,

Yes, they do use fly ash.  We are allowing fly ash, but I marked up the specification because the maximum content is provided on our drawings.

Thank you,

Andy Eck, SE, PE

Ntrive – Structural Engineering

Office Number: 630-318-1725 x701

Mobile Number: 630-886-4688

280 Shuman Blvd, Suite 270

Naperville, IL  60563

-Check out our website at:  http://ntrive.com/ ntrive.com

From: tfodden

[2015-07-06 20:57] tfodden commented on #50
got it.
TF

[2015-07-06 21:06] tfodden commented on #56
The revised Concrete section (030013OD CONCRETE REV.doc) is in Dropbox\Open\Sports_Complex\Structural.
And in Dropbox\Open\Sports_Complex\Specifications\Division 03

For your use.
TF

[2015-07-06 21:35] theoryshaw commented on #56
Thanks, i commited them here: https://github.com/OpeningDesign/Sports_Complex/commit/bf640ef386824b954da77a49f8ef4a0879a391d2

[2015-07-06 21:51] #54 closed, assigned to nobody

[2015-07-06 22:07] theoryshaw commented on #52
Thanks for the phone chat @tfodden.

It's looking like we're using C Channels fastened directly to exterior plywood with mineral wool in between the vertical channels.  The VaproShield will be between the channels and the ext. plywood.

@tfodden will be provide us the necessary depth of the mineral wool and the air cavity.

@andyeck1 Since C channels will now be deeper than 1 5/8", do you think we

[2015-07-06 22:23] andyeck1 commented on #52
Ryan,
What depth are you using now?

[2015-07-07 16:35] theoryshaw commented on #52
Let's do a 2.5" section, similar to issue #53

[2015-07-07 16:45] tfodden commented on #52
Actually, the depth of the cavity should be based on (1) the thickness of insulation you want; (2) the depth of the C Channel.  Is that the 2.5" in the above comment?  The mineral wool that I would like to use has a black face but is not available any thinner than 2.5".  We can go with insulation thicknesses of 1" and 2", but the face color would be kind of a dark butter.  I am proceeding to check

[2015-07-07 16:50] KevinZinsmeister commented on #52
The same 250S125-33 section specified in issue #53 should be used.  The plywood should be APA rated sheathing with a 32/16 span rating.  The predominant nominal thickness for this span rating is 15/32".

[2015-07-07 17:06] tfodden commented on #52
Then it sounds as if we are looking at 1.5" thick insulation and a nominal 1" venting space.  The insulation won't have a black facing but at least it's not white.

[2015-07-07 17:26] theoryshaw commented on #52
@tfodden as reflected below, the joints are 1/4".  The bottom joint however, is 3/4" per Stonewood recommendations.

https://www.dropbox.com/s/nyi7vd4tdeg5end/20150707%20-%20resin%20panel%20detail.pdf?dl=0

Due to the thinness and shadow at the 1/4" location you probably won't even precive or see the insulation.

At the bottom 3/4" joint you might see the insulation.  If it's obtrusive, perhaps we

[2015-07-07 17:45] theoryshaw opened #57 "Sill/Head brake metal at various wall assemblies."
Hi @tfodden Can you help me spec the following (circled in red) brake metal locations?....
https://www.dropbox.com/s/0n13a4y80f94epa/20150707%20-%20flashing.pdf?dl=0

Would be ideal if the brake metal at the head was relatively thick (10 gauge?) without a hemmed edge. Was thinking the same profile would run continuous along the length of the building for all wall assemblies (polycarbonate/resin/st

[2015-07-07 17:48] theoryshaw commented on #57
the following images are the ones that are in the pdf provided above:

![20150707 - flashing page 002](https://cloud.githubusercontent.com/assets/507113/8553053/53e3da28-24a6-11e5-9cad-bedfbbfab56a.jpg)
![20150707 - flashing page 003](https://cloud.githubusercontent.com/assets/507113/8553055/53ea2f86-24a6-11e5-82fe-30fc87e05013.jpg)
![20150707 - flashing page 001](https://cloud.githubusercontent.c

[2015-07-07 18:08] theoryshaw commented on #52
@KevinZinsmeister

Can we go with a U-channel like the following?..
http://www.johnsonrollforming.com/pdf/U-Custom.pdf

The [return or lip](http://www.clarkdietrich.com/sites/default/files/imce/images/products/Framing-Exterior/CurtainWall/C-Stud.jpg) of the c-channel will interfere with the placement of insulation.

[2015-07-07 18:15] tfodden commented on #57
Hi Ryan,

Yep, I see what you are talking about.  .090 inch thick aluminum is a fairly standard thickness, takes a brake very nicely, and is very sturdy.  It’s roughly equivalent to what used to be called 11 gage.  And thanks for spelling “brake” correctly!  J

That piece at the base probably wants to be stainless steel.  And yes, people are going to accidently kick it or it will get hit with snow

[2015-07-07 18:17] tfodden commented on #52
Are those aluminum or steel?  It sounds kind of custom ($$$).

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Tuesday, July 07, 2015 1:09 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: Re: [Sports_Complex] Resin Panel Wall (#52)

@KevinZinsmeister https://github.com/KevinZinsmeister

Can we go with a U-channel like the following?..
http://www.johnsonrollforming.com/pdf/U-Cust

[2015-07-07 18:24] theoryshaw commented on #52
Was thinking it would be galvanized cold-rolled steel:

Something stock like:
http://www.cemcosteel.com/steel-framing/non-structural-non-load-bearing/accessories/furring-channels/cold-rolled-channel-crc
or
http://www.clarkdietrich.com/products/bridging-bracing/u-channel-crc

Nothing custom.

[2015-07-07 18:26] theoryshaw commented on #52
or... http://www.steelconsystems.com/sites/default/files/submittal/250UChannel-54.pdf

[2015-07-07 18:48] tfodden commented on #52
How about Z-girts?

[2015-07-07 18:53] tfodden commented on #52
eh.  Maybe z-girts don't come that shallow.

[2015-07-07 18:53] KevinZinsmeister commented on #52
A standard 250T125-33 will work.  Let me know if that works for you.

[2015-07-07 19:10] theoryshaw commented on #52
@tfodden

In plan, I feel the Z-girts would not allow for a clean face to attach storefront and sealant--would have to put some additional blocking in there.

![image](https://cloud.githubusercontent.com/assets/507113/8554602/42ecb3b6-24b0-11e5-9590-850ad14c2143.png)

![image](https://cloud.githubusercontent.com/assets/507113/8554505/d20af36a-24af-11e5-9300-0cebd0455aa5.png)

[2015-07-07 20:36] tfodden commented on #52
I get what you're saying.

[2015-07-07 21:39] tfodden commented on #52
What thickness of Stonewood panels are we using?  They come in 8mm, 10mm, 13mm, with custom thicknesses available.  (13mm = 1/2").

[2015-07-08 13:40] theoryshaw commented on #52
I pinged JR Hughes from http://usehughes.com/ to help us size the panels.

JR, as you can see from the following elevations here: https://www.dropbox.com/s/g1jjek4nqah3v7t/20150707%20-%20progress%20set%20-%20Xcel_Sports%20Complex.pdf?dl=0

...the panel sizes will be both a full 4'x8' and 4'x4'. They will be supported on U-channels every ~24" o.c. as illustrated here: https://www.dropbox.com/s/jqw0

[2015-07-08 13:55] JRHughes commented on #52
Good morning.  If we are face fastening with color matched fasteners...we can use the 5/16" (8mm) thick panels. If its a concealed system which I do not believe it is, we would need to increase the thickness to 3/8" (10mm)

[2015-07-08 18:15] #56 closed, assigned to nobody

[2015-07-08 18:15] #51 closed, assigned to nobody

[2015-07-08 18:16] #46 closed, assigned to nobody

[2015-07-08 18:17] theoryshaw commented on #46
@kraut34,
 Here's the footing and foundation plans/specs sent to the state:
https://github.com/OpeningDesign/Sports_Complex/blob/20deff1783030452bc4afa26abf58024e2ba4db1/Transfer/20150708%20-%20Foundation%20Permit%20Set%20sent%20to%20State/Sent%20to%20GC/20150104_150708_Sports%20Complex%20Drawings%20and%20Specs%20.pdf

[2015-07-08 21:29] theoryshaw commented on #52
@tfodden, Toby asked if we could remove the exterior mineral wool all together. If we have 8" of batt in the cavity, per the following code, I interpret that we still have sufficient U-value:

http://publicecodes.cyberregs.com/icod/iecc/2009/icod_iecc_2009_5_sec002.htm

Would you concur?

[2015-07-08 21:39] tfodden commented on #52
OK, let’s see.  We’re Climate Zone 6.  Metal Building (or even going with Metal-Framed building), a U-value of 0.064 translates to an R-value of 15.625.  Geez, you guys get away with murder here.  No sweat – our batt insulation is R-5 per inch, so we’re way above the required.  What I don’t like is that the dew point is going to be inside the wall, within the batt insulation.  That’s where all the

[2015-07-09 16:45] tfodden opened #58 "Spec Questions"
1.  Door 124C:  Do you want a slatted roll-up (industrial) or a segmented (like a residential garage door) door?  Either would be insulated.  Do you want windows in it (then go with segmented)?
2.  Is there a particular storefront manufacturer that gets used around here a lot?  EFCO is out of Moline, MO with big distributor in Minneapolis.  I like them.
3.  We need to get ourselves a hardware cons

[2015-07-09 17:41] theoryshaw opened #59 "Garage Door Spec"
@tfodden,

In a previous email @kraut34 mentioned...

Toby, can you ping Rod to see what his suggested specs are?  Tony, please provide your perspective as well.

The rough opening in the steel is currently at 9ft x 12'-0 3/4".

![image](https://cloud.githubusercontent.com/assets/507113/8602387/a7b86500-2637-11e5-8f03-259c6d63364f.png)

[2015-07-09 17:45] theoryshaw commented on #58
Hi Tony,
1. see issue #59
2. Jefferson Glass is the sub, and they're using http://www.tubeliteinc.com/
3. Toby would like to use Schlage.  Tony, can you take the lead on this?  I could use help on the door schedule.
4. @AnisGitHub I'm assuming all windows, no matter the orientation, need Low-E coating, correct?

Thanks Gentlemen.

[2015-07-09 18:15] theoryshaw commented on #59
@tfodden ...started a conv. here: https://twitter.com/theoryshaw/status/619207693279076356

I'll let you know the contact info and hopefully we can ping them in on these github issues.

Cheers.

[2015-07-09 18:36] tfodden commented on #59
Design choices from CHI Doors:
1.  Insulated Sandwich
2.  Insulated Ribbed Pan:

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Thursday, July 09, 2015 12:41 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: [Sports_Complex] Garage Door Spec (#59)

@tfodden https://github.com/tfodden ,

In a previous email @kraut34 https://github.com/kraut34  mentioned...

Rod's Doors from Water

[2015-07-09 18:36] tfodden commented on #59
I will contact Rod's and discuss with him.  Thanks.

[2015-07-09 18:40] tfodden commented on #58
1.  New info posted on #59.
2.  Perfect.
3.  I will take the lead on this.  Consultant will need an exiting plan, partition plan, and Door Schedule.  Let me know where and when I can find those.
4.  My take is even north-facing windows can benefit by reduced heat loss.

Thanks Ryan.

[2015-07-09 18:52] theoryshaw commented on #58
-3. @tfodden ...started a conv. here: https://twitter.com/theoryshaw/status/619207693279076356
I'll let you know the contact info and hopefully we can ping them in on these github issues.
-4. fyi: https://www.dropbox.com/s/5s1fm1cgiz2h1x3/20150625%20-%20XSC%20-%20glazing.pdf?dl=0

[2015-07-09 19:33] tfodden commented on #58
Here’s a sample of a Door Schedule, if that helps:

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Thursday, July 09, 2015 12:45 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: Re: [Sports_Complex] Spec Questions (#58)

Hi Tony,
1.  see issue #59 https://github.com/OpeningDesign/Sports_Complex/issues/59
2.  Jefferson Glass is the sub, and they're using http://www.tubeliteinc.c

[2015-07-09 19:52] theoryshaw commented on #58
Hey Tony, attachments don't work via github issues.
Put it in that project's dropbox folder and put the link here:

How to get link...
https://www.dropbox.com/en/help/167

[2015-07-09 20:36] tfodden commented on #58
See below

From: Ryan Schultz [mailto:notifications@github.com]
Sent: Thursday, July 09, 2015 2:53 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: Re: [Sports_Complex] Spec Questions (#58)

Hey Tony, attachments don't work via github issues.
Put it in that project's dropbox folder and put the link here:

Sample Door Schedule:

Dropbox\Open\Sports_Complex\Research and Info

How to get link

[2015-07-13 05:41] dimven commented on #18
Hi,
The first point would be the hardest to address. Right now Dynamo can only modify the actively open document. I've been doing some digging but I'm not sure if there is a way to circumvent this limitation.
The rest of the points should be easier to address.

This ( http://bim42.com/2015/07/align-tags-update/ ) was just released recently by Simon Moreau and seems to be doing exactly what we're a

[2015-07-13 16:46] theoryshaw commented on #18
Hi Dimitar,

sounds good.  Let me know what you find.  If there's no way, we'll just have to live with it, for now.

Yeah great solution. As you can see on twitter i pinged Simon Moreau to this discussion to get this thoughts and okay with potentially incorporating his work into our open source solution.

Best.

[2015-07-23 18:27] theoryshaw opened #60 "COMCheck for Permit..."
Hi @AnisGitHub

Have you used COMCheck before?

If so, would you like to help me to submit "Building Envelope and Thermal Calculations" for permit on 8/6/2015?

See 'Building Plan Submittal Checklist' for details:
https://docs.google.com/spreadsheets/d/1JQ9hKK-ANJFdjJwEcrXR8gHpyrJ34ybznjHzm3fM7CA/edit#gid=760103103

Thanks.

[2015-07-23 18:54] AnisGitHub commented on #60
Hi @theoryshaw

I used COMCheck a while ago. It should be just a matter of inputting the walls, roof, glazing ...etc. areas, U-Values, SHGC ...etc. I am super busy this week. But can take a look next week if that works for you. Let me know if we should schedule a time to discuss.

Thank you,

[2015-07-23 18:55] #47 closed, assigned to nobody

[2015-07-23 18:56] #50 closed, assigned to nobody

[2015-07-23 18:56] #58 closed, assigned to nobody

[2015-07-23 18:56] #57 closed, assigned to nobody

[2015-07-23 19:01] theoryshaw opened #61 "Steel angle at Polycarbonate..."
Hi @andyeck1

Could you help size the steel angle holding up the polycarbonate

1st Detail...
![image](https://cloud.githubusercontent.com/assets/507113/8364617/2a08d288-1b4d-11e5-9c4a-6bc7cbf02819.png)

Happens here...

![image](https://cloud.githubusercontent.com/assets/507113/8364924/461a0418-1b4f-11e5-8361-3f3ecfcdfc8d.png)

2nd detail...

![screenhunter_293 jun 04 09 50](https://cloud.githubu

[2015-07-23 19:03] theoryshaw commented on #60
That would be great.  Let's schedule a time next week to chat. How about 7/28 at 10am CST?

Phone: 302.202.5900
screensharing: https://join.me/ryanschultz

Thanks!

[2015-07-23 19:06] AnisGitHub commented on #60
Sounds good ! 

Thank you,

Anis

On Thu, Jul 23, 2015 at 12:03 PM -0700, "Ryan Schultz" notifications@github.com wrote:

That would be great.  Let's schedule a time next week to chat. How about 7/28 at 10am CST?

Phone: 302.202.5900

Conference ID: 796-554-157

screensharing: https://join.me/ryanschultz

Thanks!

—
Reply to this email directly or view it on GitHub.

[2015-07-27 15:58] KevinZinsmeister commented on #61
@theoryshaw
An L1-1/2x1-1/2x1/4 will work.  Tried scaling one of the details, and it looks like you were planning for an L2x2, so if you'd like to stick to with that size, and L2x2x1/4 will also work.

[2015-07-27 16:37] theoryshaw commented on #61
Thanks Kevin, what about the fastener approach?  At both the z-girt and concrete?

Thanks.

[2015-07-27 18:29] KevinZinsmeister commented on #61
Provide #12 grade 5 screws @ 24" oc to connect to the Z-girts.  Provide 1/4" Hilti Kwik HUS-EZ w/ min embed=2-1/2" @ 24" oc w/ min concrete edge dist=1-1/2" to connect to the concrete frost wall.

[2015-07-28 19:25] theoryshaw commented on #61
Thanks Kevin!

[2015-07-28 19:38] theoryshaw commented on #41
@andyeck1 Can you help us size the hanger or connection detail between the glulam and Z-purlin that it's attached to?

![2015-07-28 14 35 29](https://cloud.githubusercontent.com/assets/507113/8941609/22645446-3536-11e5-9550-812379ff1f7a.jpg)

Thanks!

[2015-07-28 19:39] theoryshaw commented on #41
scratch that, it's attached to a W-section, not a 'Z' purlin.  Still need help with connection, however.

[2015-07-28 19:44] theoryshaw commented on #41
@andyeck1 , BTW, I'm assuming I can go with a W10 x 15 in place of the originally [specified](https://github.com/OpeningDesign/Sports_Complex/issues/41#issuecomment-108118941) W8x15 in this location, correct?

[2015-08-03 07:05] dimven commented on #18
Hello Ryan,
Sorry for the radio silence - life's been ganging up on me and I haven't had as much time to focus on this as I would like. I've done a major revision of the whole workflow, trying to make it more robust and address some of the previous shortcomings.
- the script is suitable with the latest version of Dynamo.
- we can now limit the effective view depth.
- the tags are aligned to the vi

[2015-08-03 18:38] theoryshaw commented on #18
Thanks @dimven!

Can we schedule a chat tomorrow to go over?

Phone: 302.202.5900
Conference ID: 796-554-157
screensharing: https://join.me/ryanschultz

I'm relatively open.

Thanks.

[2015-08-04 01:21] dimven commented on #18
Would 9:00 AM to 10:00 AM WI time be convenient for you?

[2015-08-04 02:00] theoryshaw commented on #18
Yep...that works...thx
On Aug 3, 2015 8:21 PM, "Dimitar Venkov" notifications@github.com wrote:

[2015-08-04 15:39] theoryshaw opened #62 "Trash Enclosure"
![image](https://cloud.githubusercontent.com/assets/507113/9065355/9717e874-3a96-11e5-8c68-7f75819c59de.png)

[2015-08-05 15:31] dimven commented on #18
Material tags proved to be more trouble than I thought. Now I understand why Revit doesn't have a "Tag All" option for material tags :)
The tricky part with material tags is that they're a bit more independent than standard category tags. They don't specifically need a host, they automatically extract the material properties of the object that is exactly under the end tip of the leader. That means

[2015-08-05 18:46] theoryshaw opened #63 "Footing at intersection of (1-2) and (1-E)"
Hi @andyeck1

We need to design and spec the footing at intersection of (1-2) and (1-E).

As illustrated below, there will be a mezzanine in that corner built in this 1st phase.

![image](https://cloud.githubusercontent.com/assets/507113/9094569/3c952a6e-3b78-11e5-96ba-7bf0a6e49a1b.png)

![image](https://cloud.githubusercontent.com/assets/507113/9094547/129a040a-3b78-11e5-87e4-70e24c5bf4d1.png)

!

[2015-08-05 18:48] theoryshaw commented on #63
nevermind, i see it's done already. sorry

[2015-08-05 18:48] #63 closed, assigned to nobody

[2015-08-05 21:01] theoryshaw commented on #18
I'll take a look.

Would it help us to possibly look at using the 'keynote tag'?

Thanks.

[2015-08-05 21:48] theoryshaw commented on #18
Just so you know @dimven, i'm using Revit keynoting on certain sheets:

I started doing it on sheet A-201 in [this](https://github.com/OpeningDesign/Sports_Complex/blob/master/Models/Proposal%202/Xcel_Sports%20Complex.rvt) Revit file.

We're using [this](https://docs.google.com/spreadsheets/d/1dpvBAc1eNVPof3_vFj_LorLhtcxsRWfuASAdkNVUwn4/edit#gid=1855375439) spreadsheet to add/modify keynotes--of w

[2015-08-05 23:23] theoryshaw commented on #60
Hi @AnisGitHub

Here's the elevations we talked about with the square footages and thermal properties of the various wall assemblies

https://www.dropbox.com/s/fnbj2bhuh6x2vly/20150805%20-%20Xcel_Sports%20Complex.pdf?dl=0

Please let me know if you need anything else to run the ComCheck.

Possible to turn this around by Monday (8/10)?

[2015-08-06 16:09] PKSimon commented on #62
![te-01-plan](https://cloud.githubusercontent.com/assets/13646328/9116765/0be2493a-3c34-11e5-866f-051168891fcb.png)
![te-02-wall section](https://cloud.githubusercontent.com/assets/13646328/9116767/0be4618e-3c34-11e5-8730-cf356eb1a48b.png)
![te-03-foundation section](https://cloud.githubusercontent.com/assets/13646328/9116761/0bde5f96-3c34-11e5-8935-42b91b40eaa6.png)
![te-04-enlarged corner](https

[2015-08-06 17:18] theoryshaw commented on #62
hI @PKSimon

Looking good.  How about something like this, to simply the jamb detail: http://sketch.openingdesign.com/d/wgruH9vZtL

Can you sync your model with github?  I'll take a quick review. Thanks.

[2015-08-06 17:21] PKSimon commented on #62
Can do the simplification.

I'll try to sync again.

[2015-08-06 17:23] PKSimon commented on #62
It says it's sync'd.  I don't know if that's true.

[2015-08-06 17:28] theoryshaw commented on #62
To see if something was synced back to github you would go here:
https://github.com/OpeningDesign/Sports_Complex Then click on 'commits' to see if it registered:
Full link here: https://github.com/OpeningDesign/Sports_Complex/commits/master

Did you follow Part 2, in the following document:
https://docs.google.com/document/d/1H4i-aCYgKmC-7bXqkoC6XK4VbhrxADHDq_WIN--E6sM/edit

[2015-08-06 17:39] PKSimon commented on #62
Yes - I cloned it, and the github dashboard recognizes the changes to the Revit file.  I failed to commit it.

I've committed it to master, but I still can't see it in commitments.

[2015-08-06 18:03] theoryshaw commented on #62
Sweet, i came though!

Model's looking good.

You might be doing this already, but please change the 'sweeps' and 'families' into MIP extrusions.

For the foundation, think we should use sono tubes down 4ft, w/ rebar into the slab?

Thanks!, Ryan

[2015-08-06 18:04] theoryshaw commented on #62
...or just float the slab?

[2015-08-06 18:05] PKSimon commented on #62
Will do - Sweeps.

Sonotubes work for frost.  I'll get those in as well.

[2015-08-06 18:07] theoryshaw commented on #62
Just to clarify, use MIP 'extusions' only...
no sweeps or families.

Thanks.

[2015-08-06 18:08] PKSimon commented on #62
I'll change the panels - they're not MIP.

[2015-08-06 18:09] theoryshaw commented on #62
@KevinZinsmeister / @andyeck1
Can you chime in here on your suggested approach for the trash enclosure's slab and foundation?

No engineering necessary, just what you typically see in this climate.

Thanks Much, Ryan

[2015-08-06 18:45] PKSimon commented on #62
Sonotubes will TIN.  Should I show them as rectangular piers?

[2015-08-06 18:46] avitro commented on #41
@theoryshaw, you can use a W10x15 in place of the W8x15. Also, the connection from glulam to W-section can be a Simpson GLT5 top flange hanger. Attach GLT to steel header by 3/16" x 2-1/2" fillet welds at each end of the header angle.

[2015-08-07 14:29] theoryshaw commented on #62
@PKSimon , would like to defer to @KevinZinsmeister on foundation and slab approach.

Thanks.

[2015-08-07 15:03] PKSimon commented on #62
I currently have the slab modeled as floating, 6", 3500#, 6x6x10 WWF, 6" #57 compacted under, to 6" beyond edge of slab.

[2015-08-07 17:45] theoryshaw commented on #60
Hi @AnisGitHub, Do you need anything else from me?

[2015-08-07 18:19] AnisGitHub commented on #60
Hi @theoryshaw

We also need the interior and exterior lighting parameters and the mechanical schedules. Please see following screen captures.

![image](https://cloud.githubusercontent.com/assets/10747019/9142663/72546c14-3cfe-11e5-911a-4e5e9f68efaa.png)

![image](https://cloud.githubusercontent.com/assets/10747019/9142670/82bdb9fc-3cfe-11e5-8a67-37451b1debd3.png)

![image](https://cloud.githubuse

[2015-08-07 21:16] KevinZinsmeister commented on #62
Looking for some clarity on what is meant by "sonotubes will TIN."

The proposed slab and stone are reasonable.  A sonotube should be provided at each post and should extend at least 60" below grade to help prevent frost heave of the slab.  Since we're using sonotubes and not a frost wall, we would recommend using #4@16" OC each way to reinforce the slab instead of the 6x6x10 WWF.  The slab should

[2015-08-07 22:16] PKSimon commented on #62
The TIN comment was about graphics - not a structural issue at all.  Will make those changes.

[2015-08-09 23:57] dimven commented on #18
The new version is out and about:
https://www.youtube.com/watch?v=RCn-eFZb2FU&feature=youtu.be

I've optimized the distribution of the tag heads and I've added an algorithm for uncrossing the tag leaders. Neither is flawless but they're performing pretty well now.
I've also tried to improve error handling.

I've tweaked the leader end point position but it's still problematic in cases where you ha

[2015-08-10 16:50] PKSimon commented on #62
Shots incorporating what I believe to be correct - all elements are MIP generic models.  There are some curves for the reinforcement and Sonotube extrusion profiles - the reinforcement is approximate in the sense that the bend sweeps aren't represented in the extrusions.

If appropriate, I'll upload.

![te-10 slab reinforcement](https://cloud.githubusercontent.com/assets/13646328/9177248/275206ba-

[2015-08-10 17:26] theoryshaw commented on #62
Hi Phil, yes please upload.  Will take a look.

[2015-08-10 17:40] PKSimon commented on #62
Uploaded.

[2015-08-11 14:27] theoryshaw commented on #62
Hi Phil,

can we simplify the jambs?  Like this..

![2015-08-11 09 20 44](https://cloud.githubusercontent.com/assets/507113/9199897/bdc4b406-400a-11e5-8547-0f4a5ac27511.jpg)

You don't need to follow the door layout/dimension in that (Xcel_Sports Complex.rvt) file.  That is not accurate.  Your detailing and layout will take precedent.

Thanks.

[2015-08-11 14:39] PKSimon commented on #62
Will do.  It won't take long.

[2015-08-11 14:41] theoryshaw commented on #62
Cool.. you can start laying out the sheet too.

You can pull a title sheet block from that (Xcel_Sports Complex.rvt) file.

Just use the 'material tag' (by name) manually for now--we'll use @dimven script in the future.

Thanks, Ryan

[2015-08-11 22:25] PKSimon commented on #62
Uploaded revised file with hinge detail and sheet layout.  I hope I didn't do anything wrong there.

[2015-08-12 19:55] theoryshaw commented on #62
Hi Phil, it looking good.  Just a couple things...
- lets do all caps for the material tags
- align tags like sheet A-601 in [this](https://github.com/OpeningDesign/Sports_Complex/blob/master/IFC%20Roundtrip/FreeCAD%20Detail/detail_Ryan.rvt) file. Make sure you sync--just pushed a new version.
  - they can be aligned on both the right and left of the detail.
- Also pull the material tag family out

[2015-08-12 20:24] PKSimon commented on #62
Will do.

[2015-08-13 21:24] PKSimon commented on #62
[Axxx Trash Enclosure.pdf](https://github.com/OpeningDesign/Sports_Complex/files/1411/Axxx.Trash.Enclosure.pdf)-outdated

[2015-08-13 21:29] PKSimon commented on #62
aaaaand.....I just realized I did every tag backwards.  I'll fix that.

[2015-08-13 21:53] PKSimon commented on #62
Corrected.
[Axxx Trash Enclosure.pdf](https://github.com/OpeningDesign/Sports_Complex/files/1412/Axxx.Trash.Enclosure.pdf)

[2015-08-14 13:27] theoryshaw commented on #60
Hi @AnisGitHub Just checking in on the status of this.  Would like to send out to for print at noon today.Thanks Much.

[2015-08-14 14:49] AnisGitHub commented on #60
Hi Ryan,

I am working on it and should be done in an hour or so.

Thank you,
Anis

On Fri, Aug 14, 2015 at 7:27 AM, Ryan Schultz notifications@github.com
wrote:

##

Best Regards,

_Anis Ben Ayed, *_MSc, **LEED AP  *

_Energy and *_Sustainable *

_Building *_Design Consultant*

_Low Energy Consulting, LLC http://lowenergyconsulting.com/_

_340 S Lemon Ave Suite #2455_

_Walnut, CA 91789-2706_

_T

[2015-08-14 17:27] theoryshaw commented on #60
@AnisGitHub Do you need anything from me?  I noticed you sent a couple comments/questions, but they're now deleted in this thread.

[2015-08-20 00:20] #60 closed, assigned to nobody

[2015-08-20 00:20] #62 closed, assigned to nobody

[2015-08-20 00:20] #27 closed, assigned to nobody

[2015-08-20 00:20] #37 closed, assigned to nobody

[2015-08-20 00:20] #17 closed, assigned to nobody

[2015-08-20 00:21] #30 closed, assigned to nobody

[2015-08-20 00:21] #31 closed, assigned to nobody

[2015-09-10 17:02] theoryshaw commented on #61
@KevinZinsmeister If we don't directly support the alum profile directly to the gird, Foremost would like to use a L2xL2x14GA at this condition.  Will that suffice, if so?

[2015-09-10 20:51] KevinZinsmeister commented on #61
@theoryshaw an L2x2x14GA will not work; it does not have enough capacity to support the weight of the polycarbonate wall system.  An L2x2x12GA will also not work.

[2015-09-14 21:43] theoryshaw commented on #52
Hi @KevinZinsmeister / @andyeck1

The State is asking for a structural documentation on whether our 5/16" resin panel meets wind loading requirements.

Could you guys shoot me a quick structural analysis?

Structural properties here: http://stonewoodpanels.com/images/pdf/Stonewood_Exterior_Specifications_042914.pdf

Spacing of U-Channels illustrated below...

![2015-09-14 16 08 18](https://cloud.g

[2015-09-15 14:50] KevinZinsmeister commented on #52
What kind of documentation is the state looking for?  A letter or calcs?

[2015-09-15 14:56] theoryshaw commented on #52
Calcs. thx.

[2015-09-15 17:35] theoryshaw commented on #52
Also, @KevinZinsmeister since the 250S125-33 U Channel is attached to the horizontal girts, could we use exterior gyp. bd or densglass verses the plywood you specified [above](https://github.com/OpeningDesign/Sports_Complex/issues/52#issuecomment-119265841)?

[2015-09-15 17:46] JRHughes commented on #52
Ryan, 
You might have to use the Fire Rated Gyp board to pass any wall assembly test.  JR Hughes
Hughes Group,Building Relations & Opportunity Consulting, Sales, Marketing.
UseHughes.M 847-712-5671 : O 847-991-8910   Web I Flickr I Facebook I Twitter I

[code]

 To: OpeningDesign/Sports_Complex Sports_Complex@noreply.github.com
Cc: JRHughes JR@UseHughes.com
 Sent: Tuesday, September 15, 2015 12:35

[2015-09-15 18:06] theoryshaw commented on #52
Thanks JR, yes, that why I was asking.  I was under the impression that the fire retardant plywood would suffice, but in conversation with the permit reviewer, we _might_ have to entertain gyp. bd or densglass.

[2015-09-15 18:21] tfodden commented on #52
We can use 5/8” Type X Sheathing.

TF

From: JRHughes [mailto:notifications@github.com]
Sent: Tuesday, September 15, 2015 12:47 PM
To: OpeningDesign/Sports_Complex
Cc: tfodden
Subject: Re: [Sports_Complex] Resin Panel Wall (#52)

Ryan,
You might have to use the Fire Rated Gyp board to pass any wall assembly test.  JR Hughes
Hughes Group,Building Relations & Opportunity Consulting, Sales, Marketing

[2015-09-15 18:54] theoryshaw commented on #52
For reference and if interested, here's an email I just sent the State--if you care to wade through this ocean. ;)

[2015-09-15 18:58] theoryshaw commented on #52
Would still like @KevinZinsmeister / @andyeck1 judgement on whether we can use Gyp. bd or densglass based on the hort. girt spacing and U-Channel furring.
Thanks.

[2015-09-16 13:19] KevinZinsmeister commented on #52
1/2" gyp board fastened w/ 1" Type S-12 screws @8" oc at edges, ends and intermediate members is acceptable.

[2015-09-16 13:39] theoryshaw commented on #52
Thanks Gentlemen.

[2015-09-16 14:47] tfodden commented on #52
It will need to be 5/8" gyp sheathing if you need the fire-resistance rating.

[2015-09-16 14:49] KevinZinsmeister commented on #52
Use 1-1/4" S-12 screws if using 5/8" gyp

[2015-09-30 14:10] theoryshaw opened #64 "Precast Details"
@andyeck1 @KevinZinsmeister,

Hey Guys, can I get your help detailing the precast details at the mezzanine?

Foremost's steel submittal for that area is located here:
`\Closed\Transfer\20150917 - final submittal from Foremost for Fieldhouse`

Please make sure you sync with github to update the following file:
`Open\Sports_Complex\Models\Proposal 2\Struct_Xcel_Sports Complex.rvt`

Let me know if yo

[2015-09-30 17:56] tfodden commented on #64
Precast?  How used?  I didn't see that on earlier drawings.  I'll need to spec it.  Can you send me relevant Sheets?
Thanks,
TF

[2015-10-06 16:17] KevinZinsmeister commented on #41
The Simpson GLT5 is too narrow for the 5.5" glulam and should be swapped out for a Simpson GLT6.

[2015-10-07 18:18] theoryshaw commented on #41
Kevin, actually, Toby is looking to source a 5 1/8" wide glulam, so that GLT5, from my understanding, would work.

I'm assuming a 5 1/8" x 7.5" glulam will still suffice structurally, correct?

[2015-10-07 18:34] KevinZinsmeister commented on #41
A 5.125"x7.5" glulam is adequate as well.

[2015-10-08 18:41] theoryshaw opened #65 "Glulam Midspan Connection..."
@strongtie Wondering do you guys have a stock connection we could use in place of the steel angle used here?...
https://www.dropbox.com/s/nudejvk6vym0hbn/glulam%20connection%20detail.pdf?dl=0

[2015-10-08 21:29] theoryshaw opened #66 "Angles at Alum. storefront headers."
@KevinZinsmeister @andyeck1

Simple request, can you help size the steel angle & fasteners for head condition of the alum storefront frame here..

![image](https://cloud.githubusercontent.com/assets/507113/10380464/7e0aaf44-6dd9-11e5-8489-cc692ed4bb44.png)

![image](https://cloud.githubusercontent.com/assets/507113/10380466/83df1fea-6dd9-11e5-9db9-5715f57630e1.png)

![image](https://cloud.githubus

[2015-10-09 15:28] theoryshaw opened #67 "Gradebeam along G.L. (3-2)"
Hi @andyeck1 / @KevinZinsmeister

The installation of the grade beam, as illustrated below, was overlooked.

The west pier is poured (the rebar 'wraps' were not set), the east footing however, has yet to be poured.

We need your help on what we can do to remedy.

This is high priority.

![image](https://cloud.githubusercontent.com/assets/507113/10397801/24ba8dd8-6e6f-11e5-824b-44b6f65d8e69.png)

!

[2015-10-13 19:05] theoryshaw commented on #67
@smilliecraig @kraut34,

I talked to @andyeck1.  Long story short, we do not have to include this grade beam.

Thanks, Ryan

[2015-10-13 19:05] #67 closed, assigned to nobody

[2015-10-14 14:04] #65 closed, assigned to nobody

[2015-10-14 14:19] theoryshaw commented on #41
@andyeck1 / @KevinZinsmeister

What gauge does that 1.5" x 1.5" galvanized square tubing, that's spanning the 4' - 0 1/4", need to be?

[2015-10-14 14:20] theoryshaw commented on #41
fyi, it does not need to be a slip seam tubing, as mention in the discussion above.

[2015-10-14 14:32] theoryshaw opened #68 "Proposed structural workflow for future projects..."
@andyeck1 / @KevinZinsmeister

In the future, what do you guys think about providing the pertinent structural properties, such as Section modulus, Moment of Inertia and other pertinent properties when you specify specific member sizes for us?

That way, during design and construction, we don't necessary have to hassle you guys every time to ask if we can switch out one member for another.   We can

[2015-10-14 15:39] theoryshaw commented on #41
Can you help sizing the fasteners, as well?  Here's what i'm thinking...

That is, flathead fasteners at the midspan of the tubes steel, and one at the ends.
![2015-10-14 10 34 32](https://cloud.githubusercontent.com/assets/507113/10488682/74c6d04a-725f-11e5-8984-a5d351fdcb78.jpg)

Use 24' long tubes, to eliminate cutting.

[2015-10-14 16:11] andyeck1 commented on #68
@theoryshaw ,
We can provide section properties for non-typical shapes, but I do not think it is a good idea for swapping out to another section.  For example, the design method and allowables for Z vs C vs Tube are different.  If someone swapped a Z for the same property tube, it would not be structurally sufficient.  I would rather be asked the question and collaborate on a solution.

[2015-10-14 19:17] andyeck1 commented on #41
The 1.5" square tube can be 1/8" thickness (ASTM A500).  Provide (2) #16 wood screws with 2.5" embed.

[2015-10-14 19:28] andyeck1 commented on #41
provide the screws at 2" spacing

[2015-10-14 19:30] theoryshaw opened #69 "Exterior Glulam Rafters"
Hi @tfodden,

Do you have any experience specing out exterior exposed glulams rafters?

See detail here: https://www.dropbox.com/s/bum11pffqxyob0q/20151013%20-%20XSC%20-%20Details%20at%20Fieldhouse.pdf?dl=0

...and any type of sealant (polyurethane, or other) that we might need to seal them-- i know you have to be sensitive to compatibility between sealer the glulam's adhesives.

Thanks, Ryan

[2015-10-14 19:41] KevinZinsmeister commented on #66
@theoryshaw
Is there a reason the mullions and the resin panels cannot attach directly to the provided channel?  There appears to be opportunity to.

We can size the steel angle (if still required) for the resin panel, but without loading from the storefront system vertical mullions we cannot proceed.  The curtainwall engineer typically provides the reactions their attachment to the structure requ

[2015-10-14 19:46] kraut34 commented on #41
Are we OK with using a 1.5" sq. solid tubing instead of a split tubing?

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Oct 14, 2015 at 2:28 PM, Andy Eck notifications@github.com wrote:

[2015-10-14 19:56] theoryshaw commented on #41
The seam 'is not' necessary.

[2015-10-14 20:06] theoryshaw commented on #41
Fasteners and tube to be galvanized, as well.

[2015-10-14 20:26] tfodden commented on #69
Sure.  I already have a semi transparent stain for the exterior glu-lams:
H.  Exterior Wood Stain:  Cabots semi-transparent stain;  Olympic semi-transparent water based acrylic stain.
I'd prefer that over a polyurethane.  Although then you might want to continue the color of the semi-transparent stain into the interior so that the glu-lams are the same color inside as out.  Nothing wrong with doin

[2015-10-14 20:59] theoryshaw commented on #69
ping @kraut34

[2015-10-15 15:49] #68 closed, assigned to nobody

[2015-10-15 16:04] theoryshaw commented on #66
The steel angle illustrated there, is intended for the storefront only and not support the resin panels above.

It will not be a curtain wall assembly, it will be a stock storefront assembly.
http://www.tubeliteinc.com/14000-series-storefront-framing/

I doubt we will get reactions from the supplier.  I will ping, Jefferson Glass, into this conversation just to verify as well as to ask their ideal

[2015-10-20 18:10] kraut34 commented on #41
The supplier I am working with on the galvanized steel tubing asked if we can go with .109 for a wall thickness.  They have a lot of that in stock, but hardly any 1/8".  Please let me know if this will work.

[2015-10-20 18:28] theoryshaw commented on #41
@KevinZinsmeister @andyeck1

In answering Toby's question, know that the spacing of these tubes, as detailed out, will be around ~2'-4" O.C.

Thx.

Thanks.

[2015-10-20 18:53] KevinZinsmeister commented on #41
What grade/type steel is the tube?  If it's A500 its good at 0.109 wall thickness.

[2015-10-20 22:28] kraut34 commented on #41
The galvanized tubing is fairly expensive.  Would stainless steel, or
aluminum be an option if cost is less?

Toby Krause
Krause Custom Builders
920-285-6490

On Tue, Oct 20, 2015 at 1:53 PM, KevinZinsmeister notifications@github.com
wrote:

[2015-10-21 14:06] kraut34 commented on #41
Stainless steel is more expensive and I am guessing that aluminum could
corrode if steel clips are attached.  If that is the case we will stick
with the galvanized steel.  Aluminum is $2000.00 less, so please let me
know if I am wrong about corroding issues.

Thanks

Toby Krause
Krause Custom Builders
920-285-6490

On Tue, Oct 20, 2015 at 5:28 PM, Toby Krause tobykrause@gmail.com wrote:

[2015-10-21 14:57] theoryshaw commented on #41
You could go with aluminum (contingent on structural analysis), but like you hinted at, you'd have to put some type of separator (neoprene, epdm, pvc) gasket between the clips and the aluminum to prevent corrosion.

[2015-10-21 15:01] tfodden commented on #41
or go with stainless steel clips?

[2015-10-21 18:06] kraut34 commented on #41
​1/8" wall aluminum is size where we are saving significant money.  If we
have to go bigger than that, the cost will be about a wash.  Let me know if
1/8" aluminum will be strong enough to check into further.

Thanks,​

On Oct 21, 2015 9:57 AM, "Ryan Schultz" notifications@github.com wrote:

[2015-10-21 18:25] KevinZinsmeister commented on #41
What grade of aluminum is being used? 6061-T6?

[2015-10-21 18:34] kraut34 commented on #41
yes.

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Oct 21, 2015 at 1:25 PM, KevinZinsmeister notifications@github.com
wrote:

[2015-10-21 19:08] KevinZinsmeister commented on #41
1.5" square 6061-T6 tube with min wall thickness of 0.095" is acceptable

[2015-10-21 19:19] kraut34 commented on #41
Thanks Kevin!

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Oct 21, 2015 at 2:08 PM, KevinZinsmeister notifications@github.com
wrote:

[2015-10-21 20:06] theoryshaw commented on #41
Toby, are you going with SS clips or a using a separator btwn steel clip and aluminum?

[2015-10-21 20:11] kraut34 commented on #41
I would like to use a separator, but I want to talk to Dave Bender about it
first. I'll let you know what we decide.
On Oct 21, 2015 3:07 PM, "Ryan Schultz" notifications@github.com wrote:

[2015-10-23 20:36] kraut34 commented on #41
We are going to go with separator between the steel clips and aluminum

Toby Krause
Krause Custom Builders
920-285-6490

On Wed, Oct 21, 2015 at 3:11 PM, Toby Krause tobykrause@gmail.com wrote:

[2015-10-30 14:12] theoryshaw opened #70 "Reducing floor slab thickness in certain areas..."
@andyeck1 @KevinZinsmeister

Hey Guys,

They'd like to put radiant heat at the main locker rooms and entry vestibules.  With that, they'd like to reduce the slab in those areas to 4" (with 2" of extruded polystyrene below).

Just wanted to verify, if structurally, this will be okay?

Thanks, Ryan

ping @kraut34

[2015-10-30 14:41] kraut34 commented on #70
Is going with 4" in all the single story areas a possibility?
On Oct 30, 2015 9:12 AM, "Ryan Schultz" notifications@github.com wrote:

[2015-10-30 15:12] #64 closed, assigned to nobody

[2015-10-30 15:15] #69 closed, assigned to nobody

[2015-10-30 15:16] #61 closed, assigned to nobody

[2015-10-30 15:16] #59 closed, assigned to nobody

[2015-10-30 15:17] #24 closed, assigned to nobody

[2015-10-30 15:17] #25 closed, assigned to nobody

[2015-10-30 15:17] #26 closed, assigned to nobody

[2015-10-30 15:17] #28 closed, assigned to nobody

[2015-10-30 15:17] #29 closed, assigned to nobody

[2015-10-30 15:17] #32 closed, assigned to nobody

[2015-10-30 15:17] #33 closed, assigned to nobody

[2015-10-30 15:17] #34 closed, assigned to nobody

[2015-10-30 15:17] #35 closed, assigned to nobody

[2015-10-30 15:17] #36 closed, assigned to nobody

[2015-10-30 15:17] #40 closed, assigned to nobody

[2015-10-30 15:17] #41 closed, assigned to nobody

[2015-10-30 15:17] #52 closed, assigned to nobody

[2015-10-30 15:17] #55 closed, assigned to nobody

[2015-10-30 18:54] andyeck1 commented on #70
Yes, the slab on grade can be reduced to 4" in the single story.  Please note that we utilized 6" SOG at the column piers.  We need 6" SOG in a 3'-0" radius around the column piers and then 4" SOG beyond that.

[2015-10-30 18:59] theoryshaw commented on #70
Thx Andy.

[2015-10-30 18:59] #70 closed, assigned to nobody

[2015-11-06 20:06] theoryshaw opened #71 "Specs on WRB and Wool Insulation at the Resin Wall..."
Toby @kraut34,

Here's the info @tfodden provided in the [specifications](https://www.dropbox.com/s/13jar8z25q1yqky/XSC%20-%20Specs.pdf?dl=0).
- SECTION 072100 - THERMAL INSULATION
  - Roxul Inc., “Cavityrock MD”. http://www.roxul.com/products/commercial/products/roxul+cavityrock
  -  Thermafiber “Rain Barrier” http://www.thermafiber.com/products/commercial/rainbarrier-continuous-insulation/
- SEC

[2015-11-10 22:52] theoryshaw commented on #52
Toby @kraut34,

Something on par with this: http://www.clarkdietrich.com/products/curtain-wall-framing/structural-track where there's no return lips on the flanges and where the corners are hard corners, not rounded.
- Web Size: 2-1/2”
- Leg heights: 1-1/4” or 1-1/2”
- Thickness: 33 mils (20ga)
- Galvanized Coating: G90
- 12ft length

Toby, whatever you source, please post the cutsheet here so @Ke

[2015-11-17 16:52] theoryshaw opened #72 "At Slabs - Pinwheel Joints verses Diamond."
Hi @andyeck1,

I'm assuming it's okay, but wanted to verify with you nonetheless.

@smilliecraig would like to use a pinwheel approach for the slab's construction joints around the columns verses the diamond pattern that was specified.

ping @kraut34

[2015-11-17 16:56] andyeck1 commented on #72
Please clarify how the pinwheel joints would look like.  The control joints are usually orthogonal with the column lines.  How would the pinwheel joints come off the column?

[2015-11-17 17:08] theoryshaw commented on #72
Yes, something similar to this: http://www.lmcc.com/concrete_news/0810/Pinwheel-joint-techniques.asp

[2015-11-17 17:13] andyeck1 commented on #72
The pinwheel joints are structurally acceptable.

[2015-11-17 17:23] theoryshaw commented on #72
Thanks Andy

[2015-11-17 17:23] #72 closed, assigned to nobody

[2016-03-10 21:57] theoryshaw commented on #66
How about picking up another old one. :)

@KevinZinsmeister, can you provide a suggested approach to support these storefront headers?

Thanks, Ryan

[2016-03-14 14:47] KevinZinsmeister commented on #66
Provide (2) #12 Grade 5 screws each side of each vertical mullion with a maximum vertical mullion spacing of 5'-0" oc.

[2016-03-14 15:12] theoryshaw commented on #66
Hi Kevin, not sure i follow you.  Looking for help sizing the steel angle (and fasteners) that is attached to the existing girt.

Was confused by your 'maximum vertical mullion spacing' comment.

Thanks, Ryan

[2016-03-14 15:29] KevinZinsmeister commented on #66
The girt should have been designed to receive all of the wind load imposed on it already, so the steel angle has no function beyond providing an attachment point for the storefront system.  I would suggest a 3/16" min thickness angle, but most any size will work.  The load from the storefront system is concentrated in the vertical mullion and without knowing the layout of the system at all, I gave

[2016-03-14 16:07] theoryshaw commented on #66
Great, thanks for the clarification!

[2016-03-16 14:01] #66 closed, assigned to nobody